<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/MyStyleSheet.css" />
    <title>@ViewData["Title"] - Varyag</title>
</head>
<body>
    <div class="header">
        <img src="~/images/Макет магнита 3.jpg" width="120" height="120" />
        <div>
            <a asp-page="">Суда моторные</a>
            <a asp-page="">Суда парусно-моторные</a>
            <a asp-page="">Лодки и шлюпки</a>
            <a asp-page="">О нас</a>
        </div>
        <table>
            <tr><td class="">+7 8142 73 35 80</td></tr>
            <tr><td>varyag@onego.ru</td></tr>
        </table>
    </div>
    <div class="myBorder"></div>

    <div class="MyContainer">
        <partial name="_CookieConsentPartial" />
        @RenderBody()

        <footer class="footer">
            <div>
                &copy; 2019 - Varyag - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
