<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/MyStyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="~/css/fotorama.css" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap&subset=cyrillic" rel="stylesheet">
    <title>@ViewData["Title"] - Varyag</title>
</head>
<body>
    <div class="MyContainer" id="main">
        <div class="top-pic">

            @switch (@ViewBag.TopPic)
            {
                case "sailboats":
                    <img src="~/images/узкие/58-й.jpg">
                    break;
                case "bigboats":
                    <img src="~/images/узкие/атлична!2.jpg">
                    break;
                case "general":
                    <img src="~/images/порезанный2.jpg">
                    break;
                default:
                    break;
            }

            <div class="logo">
                <img src="~/images/Судоверфь Варяг.jpg">
            </div>
            <div class="contacts">
                +7 814 273 35 80
            </div>
        </div>
        <div id="header" class="header">
            <div id="nav-top" class="nav-top">
                <div id="ships-catalog" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">КАТАЛОГ</a>
                    </div>
                </div>
                <div id="news" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">НАШИ НОВОСТИ</a>
                    </div>
                </div>
                <div id="SMI" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">МЫ В СМИ</a>
                    </div>
                </div>
                <div id="About" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="">О НАС</a>
                    </div>
                </div>
                <div id="Contacts" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">КОНТАКТЫ</a>
                    </div>
                </div>
                <div id="Turism" class="nav-element-top">
                    <div class="nav-element-inside">
                        <a href="/">ТУРИЗМ</a>
                    </div>
                </div>
                <div id="Goto-Predistinacia" class="nav-element-top" style="border-right:ridge">
                    <div class="nav-element-inside">
                        <div>
                            <input id="cat" type="number" value="0" hidden />
                            <input id="new" type="number" value="0" hidden />
                            <input id="srmin" type="number" value="0" hidden />
                            <input id="abus" type="number" value="0" hidden />
                            <input id="con" type="number" value="0" hidden />
                        </div>
                        <a href="/">ГОТО-ПРЕДИСТИНАЦИЯ</a>
                    </div>
                </div>
            </div>
            <div id="menu-nav-top" class="menu-nav-top"></div>
        </div>


        <partial name="_CookieConsentPartial" />
        @RenderBody()

        <footer class="footer">
            <div>
                &copy; 2019 - Varyag - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/fotorama.js"></script>
    <script src="~/js/top-nav.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
