<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/MyStyleSheet.css" />
    <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/css/my-slider.css" />
    <title>@ViewData["Title"] - Varyag</title>
</head>
<body>
    <div class="MyContainer" id="main">
        <div class="ism-slider" data-interval="3000" id="my-slider">
            <ol>
                <li>
                    <img src="~/images/порезанный2.jpg">
                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/slides/beautiful-701678_1280.jpg">
                    <a class="ism-caption ism-caption-0" href="" target="_self">My slide caption text</a>
                </li>
                <li>
                    <img src="~/images/slides/summer-192179_1280.jpg">
                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
                <li>
                    <img src="~/images/slides/city-690332_1280.jpg">
                    <div class="ism-caption ism-caption-0">My slide caption text</div>
                </li>
            </ol>
        </div>
        <div class="header">
            <div class="logo"><img src="~/images/Судоверфь Варяг.jpg" width="127" height="72" /></div>
            <div class="nav-top">
                <div id="ships-catalog" class="nav-element">
                    <div class="nav-element-inside">
                        <a asp-page="">Каталог</a>
                    </div>
                </div>
                <div id="news" class="nav-element">
                    <div class="nav-element-inside">
                        <a asp-page="">Наши новости</a>
                    </div>
                </div>
                <div id="SMI" class="nav-element">
                    <div class="nav-element-inside">
                        <a asp-page="">Мы в СМИ</a>
                    </div>
                </div>
                <div id="About" class="nav-element">
                    <div class="nav-element-inside">
                        <a asp-page="">О нас</a>
                    </div>
                </div>
                <div id="Contacts" class="nav-element">
                    <div class="nav-element-inside">
                        <a asp-page="">Контакты</a>
                    </div>
                </div>
            </div>
            <table class="contacts">
                <tr><td class="phone">+7 8142 73 35 80</td></tr>
                <tr><td class="mail">varyag@onego.ru</td></tr>
            </table>
        </div>

        <partial name="_CookieConsentPartial" />
        @RenderBody()

        <footer class="footer">
            <div>
                &copy; 2019 - Varyag - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
    </script>
    <script src="~/js/ism-2.2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
