
<div class="catalogPlates">
    <div class="catalogPlitka" id="lodki">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/лодка-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <h2><a href="../../../katalog/lodki" class="plitkaCategoryHeader">Лодки</a></h2>
            <h2><a href="../../../katalog/lodki/narodnye-lodki" class="plitkaCategory">Народные лодки</a></h2>
            <h2><a href="../../../katalog/lodki/progulochnye-parusnye-lodki" class="plitkaCategory">Прогулочные парусные лодки</a></h2>
            <h2><a id="last" href="../../../katalog/lodki/progulochnye-grebnye-lodki" class="plitkaCategory">Прогулочные гребные лодки</a></h2>
        </div>
    </div>
    <div id="center" class="catalogPlitka">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/катер-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <h2><a href="../../../katalog/katera" class="plitkaCategoryHeader">Катера</a></h2>
            <h2><a href="../../../katalog/katera/rabochie-i-rybolovnye-katera" class="plitkaCategory">Рабочие/Рыболовные катера</a></h2>
            <h2><a href="../../../katalog/katera/passazhirskie-katera" class="plitkaCategory">Пассажирские катера</a></h2>
            <h2><a href="../../../katalog/katera/kayutnye-katera" class="plitkaCategory">Каютные катера</a></h2>
            <h2><a id="last" href="../../../katalog/katera/motoseylery" class="plitkaCategory">Мотосейлеры</a></h2>
        </div>
    </div>
    <div class="catalogPlitka">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/паруник-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <h2><a href="../../../katalog/parusniki" class="plitkaCategoryHeader">Парусники</a></h2>
            <h2><a href="../../../katalog/parusniki/istoricheskie-parusniki" class="plitkaCategory">Исторические парусники</a></h2>
            <h2><a href="../../../katalog/parusniki/uchebnye-parusniki" class="plitkaCategory">Учебные парусники</a></h2>
            <h2><a href="../../../katalog/parusniki/shvertboty" class="plitkaCategory">Швертботы</a></h2>
            <h2><a id="last" href="../../../katalog/parusniki/parusnye-yahty" class="plitkaCategory">Парусные яхты</a></h2>
        </div>
    </div>
    <div class="catalogPlitka" id="shlupki">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/шлюпка-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <h2><a href="../../../katalog/shlyupki" class="plitkaCategoryHeader">Шлюпки</a></h2>
            <h2><a href="../../../katalog/shlyupki/shlyupki-yal2yal4yal6" class="plitkaCategory">Шлюпки ЯЛ2, ЯЛ4, ЯЛ6</a></h2>
            <h2><a href="../../../katalog/shlyupki/botiki" class="plitkaCategory">Ботики</a></h2>
            <h2><a href="../../../katalog/shlyupki/grebnye-katera-i-velboty" class="plitkaCategory">Гребные катера и вельботы</a></h2>
            <h2><a id="last" href="../../../katalog/shlyupki/uchebnye-posobiya" class="plitkaCategory">Учебные пособия</a></h2>
        </div>
    </div>
    <div id="center" class="catalogPlitka" name="ladiy">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/ладья-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <h2><a href="../../../katalog/ladi" class="plitkaCategoryHeader">Ладьи</a></h2>
            <h2><a href="../../../katalog/ladi/parusno-motornye-ladi" class="plitkaCategory">Парусно-моторные ладьи</a></h2>
            <h2><a href="../../../katalog/ladi/parusno-grebnye-ladi" class="plitkaCategory">Парусно-гребные ладьи</a></h2>
            <h2><a id="last" href="../../../katalog/ladi/strugi-i-galery">Струги и галеры</a></h2>
        </div>
    </div>
    <div class="catalogPlitka">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/лодка-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <a href="../../../katalog/raznoe" class="plitkaCategoryHeader">Разное</a>
            <h2><a href="../../../katalog/raznoe/modeli-i-makety">Модели и макеты</a></h2>
            <a id="last" href="../../../katalog/raznoe/prochaya-produkciya">Прочая продукция</a>
        </div>
    </div>
</div>