
<div id="catalogPlates" style="display:flex;flex-wrap:wrap;margin-top:10px;">
    <div class="catalogPlitka" id="lodki">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/лодка.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/лодка-низ.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/лодка-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <div class="plitkaCategoryHeader">Лодки</div>
            <div class="plitkaCategory">Народные лодки</div>
            <div class="plitkaCategory">Прогулочные парусные лодки</div>
            <div>Прогулочные гребные лодки</div>
        </div>
    </div>

    <div id="center" class="catalogPlitka">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/катер.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/катер-низ.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/катер-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <div class="plitkaCategoryHeader">Катера</div>
            <div class="plitkaCategory">Пассажирские катера</div>
            <div class="plitkaCategory">Рабочие/Рыболовные катера</div>
            <div class="plitkaCategory">Каютные катера</div>
            <div>Мотосейлеры</div>
        </div>
    </div>

    <div class="catalogPlitka">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/паруник.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/паруник-низ.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/паруник-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <div class="plitkaCategoryHeader">Парусники</div>
            <div class="plitkaCategory">Исторические парусники</div>
            <div class="plitkaCategory">Учебные парусники</div>
            <div class="plitkaCategory">Швертботы</div>
            <div>Парусные яхты</div>
        </div>
    </div>

    <div class="catalogPlitka" id="shlupki">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/шлюпка.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/шлюпка-низ.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/шлюпка-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <div class="plitkaCategoryHeader">Шлюпки</div>
            <div class="plitkaCategory">Шлюпки ЯЛ2, ЯЛ4, ЯЛ6</div>
            <div class="plitkaCategory">Ботики</div>
            <div class="plitkaCategory">Гребные катера и вельботы</div>
            <div>Учебные пособия</div>
        </div>
    </div>

    <div id="center" class="catalogPlitka">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/ладья.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/ладья-низ.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/ладья-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <div class="plitkaCategoryHeader">Ладьи</div>
            <div class="plitkaCategory">Парусно-моторные ладьи</div>
            <div>Парусно-гребные ладьи</div>
        </div>
    </div>

    <div class="catalogPlitka">
        <div class="catalogPlitkaIcon">
            <img src="~/images/icons/Цветные/одинаковые/лодка.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/лодка-низ.jpg" style="display:none" />
            <img src="~/images/icons/Цветные/одинаковые/лодка-безмасш.jpg" style="display:block" />
        </div>
        <div class="catalogPlitkaCategorys">
            <div class="plitkaCategoryHeader">Разное</div>
            <div class="plitkaCategory">Народные лодки</div>
            <div class="plitkaCategory">Прогулочные парусные лодки</div>
            <div>Прогулочные гребные лодки</div>
        </div>
    </div>
</div>