<div class="leftMenu" style="justify-content:flex-start;">
    <nav>
        @if (ViewBag.catalogPage != "models")
        {
            <ul class="leftNavMenu">
                <li id="aboutUs">
                    <div class="leftNavLine"><a asp-action="AllNews" asp-controller="About" class="navLineHeader">О нас</a></div>
                </li>
                <li id="catalogWord">
                    @if (ViewBag.catalogPage == "catalog")
                    {
                        <div class="leftNavLine"><a asp-action="CatalogNavigation" id="catalogHeder" class="navLineHeader" style="color:red">Каталог</a></div>
                    }
                    else
                    {
                        <div class="leftNavLine"><a asp-action="CatalogNavigation" id="catalogHeder" class="navLineHeader">Каталог</a></div>
                    }
                </li>
                <li>
                    @if (ViewBag.catalogPage == "boats")
                    {
                        <div class="leftNavLine"><a asp-action="Boats" class="navLineHeader" style="color:red">Лодки</a><div id="lodkiOpen" class="leftNavOpenCurrent">+</div><div id="lodkiClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="lodki-Sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.TopPic == "boatstraditional")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="BoatsTraditional" style="color:red">Народные лодки</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="BoatsTraditional">Народные лодки</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "boatssail")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="BoatsSail" style="color:red">Прогулочные парусные лодки</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="BoatsSail">Прогулочные парусные лодки</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "boatsrow")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="BoatsRow" style="color:red">Прогулочные гребные лодки</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="BoatsRow">Прогулочные гребные лодки</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div class="leftNavLine"><a asp-action="Boats" class="navLineHeader">Лодки</a><div id="lodkiOpen" class="leftNavOpen">+</div><div id="lodkiClose" class="leftNavClose">-</div></div>
                        <ul id="lodki-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                <a asp-action="BoatsTraditional">Народные лодки</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="BoatsSail">Прогулочные парусные лодки</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="BoatsRow">Прогулочные гребные лодки</a>
                            </li>
                        </ul>
                    }
                </li>
                <li>
                    @if (ViewBag.catalogPage == "bigboats")
                    {
                        <div id="shlupkiNav" class="leftNavLine"><a asp-action="Bigboats" class="navLineHeader" style="color:red">Шлюпки</a><div id="shlupkiOpen" class="leftNavOpenCurrent">+</div><div id="shlupkiClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="shlupki-Sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.TopPic == "boatsyal")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="BoatsYal" style="color:red">Шлюпки ЯЛ2, ЯЛ4, ЯЛ6</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="BoatsYal">Шлюпки ЯЛ2, ЯЛ4, ЯЛ6</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "botiks")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="Botiks" style="color:red">Ботики</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="Botiks">Ботики</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "katerrows")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="KaterRows" style="color:red">Гребные катера и вельботы</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="KaterRows">Гребные катера и вельботы</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "maketsstudy")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="MaketsStudy" style="color:red">Учебные пособия</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="MaketsStudy">Учебные пособия</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        @if (ViewBag.catalogPage == "boats")
                        {
                            <div id="shlupkiNav" class="leftNavLine" style="margin-top:72px"><a asp-action="Bigboats" class="navLineHeader">Шлюпки</a><div id="shlupkiOpen" class="leftNavOpen">+</div><div id="shlupkiClose" class="leftNavClose">-</div></div>
                        }
                        else
                        {
                            <div id="shlupkiNav" class="leftNavLine"><a asp-action="Bigboats" class="navLineHeader">Шлюпки</a><div id="shlupkiOpen" class="leftNavOpen">+</div><div id="shlupkiClose" class="leftNavClose">-</div></div>
                        }
                        <ul id="shlupki-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                <a asp-action="BoatsYal">Шлюпки ЯЛ2, ЯЛ4, ЯЛ6</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="Botiks">Ботики</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="KaterRows">Гребные катера и вельботы</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="MaketsStudy">Учебные пособия</a>
                            </li>
                        </ul>
                    }
                </li>
                <li>
                    @if (ViewBag.catalogPage == "motorboats")
                    {
                        <div id="kateraNav" class="leftNavLine"><a asp-action="Motorboats" class="navLineHeader" style="color:red">Катера</a><div id="kateraOpen" class="leftNavOpenCurrent">+</div><div id="kateraClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="katera-Sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.TopPic == "katersfishing")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="KatersFishing" style="color:red">Рабочие и рыболовные катера</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="KatersFishing">Рабочие и рыболовные катера</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "katerspassanger")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="KatersPassanger" style="color:red">Пассажирские катера</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="KatersPassanger">Пассажирские катера</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "katerkabins")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="KaterKabins" style="color:red">Каютные катера</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="KaterKabins">Каютные катера</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "motosailers")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="Motosailers" style="color:red">Мотосейлеры</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="Motosailers">Мотосейлеры</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        @if (ViewBag.catalogPage == "bigboats")
                        {
                            <div id="kateraNav" class="leftNavLine" style="margin-top:92px"><a asp-action="Motorboats" class="navLineHeader">Катера</a><div id="kateraOpen" class="leftNavOpen">+</div><div id="kateraClose" class="leftNavClose">-</div></div>
                        }
                        else
                        {
                            <div id="kateraNav" class="leftNavLine"><a asp-action="Motorboats" class="navLineHeader">Катера</a><div id="kateraOpen" class="leftNavOpen">+</div><div id="kateraClose" class="leftNavClose">-</div></div>
                        }
                        <ul id="katera-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                <a asp-action="KatersFishing">Рабочие и рыболовные катера</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="KatersPassanger">Пассажирские катера</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="KaterKabins">Каютные катера</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="Motosailers">Мотосейлеры</a>
                            </li>
                        </ul>
                    }
                </li>
                <li>
                    @if (ViewBag.catalogPage == "ladiy")
                    {
                        <div id="ladiyNav" class="leftNavLine"><a asp-action="Ladiy" class="navLineHeader" style="color:red">Ладьи</a><div id="ladiyOpen" class="leftNavOpenCurrent">+</div><div id="ladiyClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="ladiy-Sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.TopPic == "ladyassailmotor")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="LadyasSailMotor" style="color:red">Парусно-моторные ладьи</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="LadyasSailMotor">Парусно-моторные ладьи</a>
                                </li>
                                    }
                            @if (ViewBag.TopPic == "ladyassailrow")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="LadyasSailRow" style="color:red">Парусно-гребные ладьи</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="LadyasSailRow">Парусно-гребные ладьи</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "galleysAndStrugs")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="GalleysAndStrugs" style="color:red">Струги и галеры</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="GalleysAndStrugs">Струги и галеры</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        @if (ViewBag.catalogPage == "motorboats")
                        {
                            <div id="ladiyNav" class="leftNavLine" style="margin-top:92px"><a asp-action="Ladiy" class="navLineHeader">Ладьи</a><div id="ladiyOpen" class="leftNavOpen">+</div><div id="ladiyClose" class="leftNavClose">-</div></div>
                        }
                        else
                        {
                            <div id="ladiyNav" class="leftNavLine"><a asp-action="Ladiy" class="navLineHeader">Ладьи</a><div id="ladiyOpen" class="leftNavOpen">+</div><div id="ladiyClose" class="leftNavClose">-</div></div>
                        }
                            <ul id="ladiy-Sub" class="leftSubNavOpen">
                                <li class="leftSubCategory">
                                    <a asp-action="LadyasSailMotor">Парусно-моторные ладьи</a>
                                </li>
                                <li class="leftSubCategory">
                                    <a asp-action="LadyasSailRow">Парусно-гребные ладьи</a>
                                </li>
                                <li class="leftSubCategory">
                                    <a asp-action="GalleysAndStrugs">Струги и галеры</a>
                                </li>
                            </ul>
                    }
                </li>
                <li>
                    @if (ViewBag.catalogPage == "sailboats")
                    {
                        <div id="sailboatsNav" class="leftNavLine"><a asp-action="Sailboats" class="navLineHeader" style="color:red">Парусники</a><div id="sailboatsOpen" class="leftNavOpenCurrent">+</div><div id="sailboatsClose" class="leftNavCloseCurrent">-</div></div>
                        <ul id="sailboats-Sub" class="leftSubNavOpenCurrent">
                            @if (ViewBag.TopPic == "sailboatshistorical")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="SailboatsHistorical" style="color:red">Исторические парусники</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="SailboatsHistorical">Исторические парусники</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "sailboatsstudy")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="SailboatsStudy" style="color:red">Учебные парусники</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="SailboatsStudy">Учебные парусники</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "svertbots")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="Svertbots" style="color:red">Швертботы</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="Svertbots">Швертботы</a>
                                </li>
                            }
                            @if (ViewBag.TopPic == "yachts")
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="Yachts" style="color:red">Парусные яхты</a>
                                </li>
                            }
                            else
                            {
                                <li class="leftSubCategory">
                                    <a asp-action="Yachts">Парусные яхты</a>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        @if (ViewBag.catalogPage == "ladiy")
                        {
                            <div id="sailboatsNav" class="leftNavLine" style="margin-top:72px"><a asp-action="Sailboats" class="navLineHeader">Парусники</a><div id="sailboatsOpen" class="leftNavOpen">+</div><div id="sailboatsClose" class="leftNavClose">-</div></div>
                        }
                        else
                        {
                            <div id="sailboatsNav" class="leftNavLine"><a asp-action="Sailboats" class="navLineHeader">Парусники</a><div id="sailboatsOpen" class="leftNavOpen">+</div><div id="sailboatsClose" class="leftNavClose">-</div></div>
                        }
                        <ul id="sailboats-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                <a asp-action="SailboatsHistorical">Исторические парусники</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="SailboatsStudy">Учебные парусники</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="Svertbots">Швертботы</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="Yachts">Парусные яхты</a>
                            </li>
                        </ul>
                    }
                </li>
                <li>
                    @if (ViewBag.catalogPage == "sailboats")
                    {
                        <div id="modelsNav" class="leftNavLine" style="margin-top:92px"><a asp-action="Models" class="navLineHeader">Разное</a><div id="modelsOpen" class="leftNavOpen">+</div><div id="modelsClose" class="leftNavClose">-</div></div>
                    }
                    else
                    {
                        <div id="modelsNav" class="leftNavLine"><a asp-action="Models" class="navLineHeader">Разное</a><div id="modelsOpen" class="leftNavOpen">+</div><div id="modelsClose" class="leftNavClose">-</div></div>
                    }
                    <ul id="models-Sub" class="leftSubNavOpen">
                        <li class="leftSubCategory">
                            <a asp-action="ModelsMakets">Модели и макеты</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Other">Прочая продукция</a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        else
        {
            <ul class="leftNavMenu" style="padding-bottom:56px">
                <li id="aboutUs">
                    <div class="leftNavLine"><a asp-action="AllNews" asp-controller="About" class="navLineHeader">О нас</a></div>
                </li>
                <li id="catalogWord">
                    @if (ViewBag.catalogPage == "catalog")
                    {
                        <div class="leftNavLine"><a asp-action="CatalogNavigation" id="catalogHeder" class="navLineHeader" style="color:red">Каталог</a></div>
                    }
                    else
                    {
                        <div class="leftNavLine"><a asp-action="CatalogNavigation" id="catalogHeder" class="navLineHeader">Каталог</a></div>
                    }
                </li>
                <li>
                    <div class="leftNavLine"><a asp-action="Boats" class="navLineHeader">Лодки</a><div id="lodkiOpen" class="leftNavOpen">+</div><div id="lodkiClose" class="leftNavClose">-</div></div>
                    <ul id="lodki-Sub" class="leftSubNavOpen">
                        <li class="leftSubCategory">
                            <a asp-action="BoatsTraditional">Народные лодки</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="BoatsSail">Прогулочные парусные лодки</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="BoatsRow">Прогулочные гребные лодки</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div id="shlupkiNav" class="leftNavLine"><a asp-action="Bigboats" class="navLineHeader">Шлюпки</a><div id="shlupkiOpen" class="leftNavOpen">+</div><div id="shlupkiClose" class="leftNavClose">-</div></div>
                    <ul id="shlupki-Sub" class="leftSubNavOpen">
                        <li class="leftSubCategory">
                            <a asp-action="BoatsYal">Шлюпки ЯЛ2, ЯЛ4, ЯЛ6</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Botiks">Ботики</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="KaterRows">Гребные катера и вельботы</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="MaketsStudy">Учебные пособия</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div id="kateraNav" class="leftNavLine"><a asp-action="Motorboats" class="navLineHeader">Катера</a><div id="kateraOpen" class="leftNavOpen">+</div><div id="kateraClose" class="leftNavClose">-</div></div>
                    <ul id="katera-Sub" class="leftSubNavOpen">
                        <li class="leftSubCategory">
                            <a asp-action="KatersFishing">Рабочие/Рыболовные катера</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="KatersPassanger">Пассажирские катера</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="KaterKabins">Каютные катера</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Motosailers">Мотосейлеры</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div id="ladiyNav" class="leftNavLine"><a asp-action="Ladiy" class="navLineHeader">Ладьи</a><div id="ladiyOpen" class="leftNavOpen">+</div><div id="ladiyClose" class="leftNavClose">-</div></div>
                    <ul id="ladiy-Sub" class="leftSubNavOpen">
                        <li class="leftSubCategory">
                            <a asp-action="LadyasSailMotor">Парусно-моторные ладьи</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="LadyasSailRow">Парусно-гребные ладьи</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="GalleysAndStrugs">Струги и галеры</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div id="sailboatsNav" class="leftNavLine"><a asp-action="Sailboats" class="navLineHeader">Парусники</a><div id="sailboatsOpen" class="leftNavOpen">+</div><div id="sailboatsClose" class="leftNavClose">-</div></div>
                    <ul id="sailboats-Sub" class="leftSubNavOpen">
                        <li class="leftSubCategory">
                            <a asp-action="SailboatsHistorical">Исторические парусники</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="SailboatsStudy">Учебные парусники</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Svertbots">Швертботы</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Yachts">Парусные яхты</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div id="modelsNav" class="leftNavLine"><a asp-action="Models" class="navLineHeader" style="color:red">Разное</a><div id="modelsOpen" class="leftNavOpenCurrent">+</div><div id="modelsClose" class="leftNavCloseCurrent">-</div></div>
                    <ul id="models-Sub" class="leftSubNavOpenCurrent">
                        <li class="leftSubCategory">
                            @if (ViewBag.redLine == "makets")
                            {
                                <a asp-action="ModelsMakets" style="color:red">Модели и макеты</a>
                            }
                            else
                            {
                                <a asp-action="ModelsMakets">Модели и макеты</a>
                            }
                        </li>
                        <li class="leftSubCategory">
                            @if (ViewBag.redLine == "other")
                            {
                            <a asp-action="Other" style="color:red">Прочая продукция</a>
                            }
                            else
                            {
                                <a asp-action="Other">Прочая продукция</a>
                            }
                        </li>
                    </ul>
                </li>
            </ul>
        }
    </nav>
    <div class="ourContacts">
        <div>НАШИ КОНТАКТЫ</div>
        <div class="contactsLeft">
            <div class="contactsUnit"><img src="~/images/icons/phone.png" class="contactsIcon" alt="cont" />&nbsp;+7 (814) 273-35-80</div>
            <a style="cursor:pointer" href="http://www.varyag-onego.ru" target="_blank" class="contactsUnit"><img src="~/images/icons/global_114550x96.png" class="contactsIcon" />&nbsp;www.varyag-onego.ru</a>
            <div class="contactsUnit"><img src="~/images/icons/email.png" alt="mail" class="contactsIcon" />&nbsp;varyag@onego.ru</div>
        </div>
    </div>
</div>