
a {
    text-decoration: none;
    color: #183f61;
    width: 100%;
}

#shlupki a {
    /*min-width:185px;*/
}

p {
    margin-block-start: 10px;
    margin-block-end: 10px;
}

body {
    color: #2d5d88;
    margin: 0px;
    background-color: #e4e4e4;
}

.top-pic {
    /*display: none;*/
    position: relative;
}

.logo {
    opacity: 1;
    position: absolute;
    top: 21%;
    left: 6%;
    width: 15%;
}

.contacts {
    opacity: 1;
    position: absolute;
    top: 24%;
    right: 4%;
    width: 15%;
    font-size: 25px;
}

img {
    display: block;
    max-width: 100%;
}

.myBorder {
    width: 100%;
    border-top-style: dashed;
    border-width: 1px;
    margin-bottom: 10px;
}

.header {
    font-family: 'Gabriela', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: white;
    text-align: center;
    /*position:fixed;*/
}


.phone {
    color: #e00e0e;
}

.mail {
    color: #3232ca;
}

.MyContainer {
    font-family: Tahoma, 'Gabriela', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    margin: auto;
    max-width: 1350px;
    /*min-width: 850px;*/
}

.catalog {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin: auto;
    /*min-width: 850px;*/
    max-width: 1350px;
}

.nav {
    display: flex;
    align-items: flex-end;
    font-size: 22px;
}

.nav-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}

.nav-element-top {
    justify-content: center;
    display: flex;
    background-color: #f3e0b6;
    margin: auto;
    cursor: pointer;
    flex-grow: 1;
    border-style: ridge;
}

    .nav-element-top:hover {
        background-color: #aec9e0;
        box-shadow: 0px 0px 20px 0px #aec9e0;
    }

.menu-nav-top {
    background-color: white;
}

.menu-top-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    /*background-color: forestgreen;*/
}

.category {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    position: absolute;
    background-color: white;
    max-width: 1350px;
    padding-bottom: 10px;
}

.sub-nav {
    display: none;
    flex-direction: column;
    min-width: 785.54px;
    font-size: 20px;
}

.sub-nav-elements {
    display: flex;
    width: 100%;
    max-width: 1350px;
    background-color: #ffffff;
    align-items: center;
    top: 0px;
}

.sub-nav-current {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 785.54px;
}

.sub-nav a {
    width: 100%;
}

.nav-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /*min-width: 5.8em;*/
    /*margin: 1%;*/
    background-color: #d1e0f9;
}

    .nav-element .nav-element-inside {
        height: 1.7em;
    }

.nav-element-choosen .nav-element-inside {
    height: 1.7em;
}

.nav-element img {
    width: 100%
}

.nav-element-minor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    flex-grow: 1;
    font-size: 19px;
    flex-shrink: 1;
    /*margin: 2px;*/
    background-color: rgb(255, 255, 255);
}

    .nav-element-minor:hover {
        cursor: pointer;
        background-color: #aec9e0;
    }

.nav-element-minor-choosen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 23px;
    /*height: 3em;*/
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #aec9e0;
}

.nav-element-minor-choosen-current {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-size: 23px;
    flex-grow: 1;
    flex-shrink: 1;
    /*height: 3em;*/
    background-color: #aec9e0;
}

.nav-element-minor-choosen .nav-element-inside p {
    color: #e00e0e;
}

.nav-element-choosen {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*min-width: 5.8em;*/
}

    .nav-element-choosen img {
        width: 100%
    }

    .nav-element-choosen .nav-element-inside p {
        color: #e00e0e;
        font-size: 26px;
    }

    .nav-element-choosen img {
        filter: opacity(80%);
    }

.nav-element-inside {
}

.projects {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.singleProject {
    display: flex;
    align-items: flex-start;
    max-width: 1330px;
    width: 100%;
    font-size: 18px;
}

    .singleProject p {
        margin-top: 0px
    }

    .singleProject:hover {
    }

.projectImage {
    width: 32%;
    align-self: flex-end;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    margin: 20px;
}

.whiteSpace {
    background-color: white;
    height: 10px;
}

.TTH {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 29%;
    align-self: center;
    text-align: left;
    margin-left: 10px;
}

    .TTH .value {
        /*width:100px;*/
    }

    .TTH .characteristic {
        width: 100%;
    }

.TTH-details {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.catalogItemTop {
    text-align: center;
    margin-bottom: 3%;
}

.catalogItemBottom {
    text-align: left;
    margin-top: 3%;
}

.details-top {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.sheme-tth {
    display: flex;
    flex-direction: column;
    width: 34%;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
}

.table-space {
    /* width: 20px; */
}

.value {
    /*text-align: right;*/
}

.characteristic {
    text-align: left;
    width: 100%;
}

.bottom-top {
    display: flex;
    justify-content: space-between;
}

.galery {
    width: 64%;
    margin: auto;
}

.sheme {
    width: 75%;
}

.projectListItem {
    padding-bottom: 10px;
    /* border-bottom-style: dashed; */
    /* border-width: 1px; */
    /* border-top-style: dashed; */
}

.cellLong {
    display: table-row;
}

.cellShort {
    display: none;
}

@media (max-width:1280px) {

    .cellLong {
        display: none;
    }

    .cellShort {
        display: table-row;
    }
}

@media (max-width:1023px) {

    .details-top {
        display: flex;
        flex-direction: column-reverse;
        /*align-items: center;*/
    }

    .sheme-tth {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        align-items: center;
    }

    .galery {
        width: 95%;
        margin: auto;
    }

    .TTH-details {
        width: 50%;
        text-align: left;
    }

    .sheme {
        width: 50%;
    }

    #first-out.cellShort {
        display: none;
    }
}

@media (max-width:790px) {

    .sheme-tth {
        flex-direction: column;
        width: 100%;
    }

    .TTH-details {
        width: 100%;
        text-align: left;
    }

    #short.projectImage {
        display: none;
    }

    .projectImage {
        width: 50%;
    }

    .TTH {
        width: 50%
    }

    .sheme {
        width: 100%;
    }

    .catalog {
        flex-direction: row;
    }

    .nav {
        flex-direction: column;
        align-items: initial;
        width: 50%;
    }

    .nav-element img {
        display: none;
    }

    .nav-element-choosen img {
        display: none;
    }

    .cellLong {
        display: table-row;
    }

    .cellShort {
        display: none;
    }
}

@media (max-width:740px) {

    .cellLong {
        display: none;
    }

    .cellShort {
        display: table-row;
    }
}

@media (max-width:620px){

    #second-out.cellShort {
        display:none;
    }
}

@media (max-width:500px) {

    #fird-out.cellShort {
        display: none;
    }
}

@media (max-width:440px) {

    #fourth-out.cellShort {
        display: none;
    }
}

@media (max-width:375px) {

    #fifth-out.cellShort {
        display: none;
    }

    .catalogItemBottom {
        display: none;
    }
}
