@model Varyag.Models.Article

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Article</h4>
<hr />

<div>
    <
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

