@page
@model Varyag.Pages.MainCatalogModel

@{
    ViewData["Title"] = "MainCatalog";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="text">
    <h1>Егегееей! Заказываете прямо сейчас:</h1>
</div>

<div class="appointment-types">
    <div class="appointment">
        <h1>Круизные суда:</h1>
    </div>
    <div class="types">
        <table>
            <tr>
                <td><h1>Лодки</h1></td>
                <td><input type="checkbox" id="лодки" value="true" /></td>
                <td><h1>Яхты</h1></td>
                <td><input type="checkbox" id="яхты" value="true" /></td>
                <td><h1>Лодьи</h1></td>
                <td><input type="checkbox" id="лодьи" value="true" /></td>
                <td><h1>Лодки</h1></td>
                <td><input type="checkbox" id="лодки" value="true" /></td>
                <td><h1>Яхты</h1></td>
                <td><input type="checkbox" id="яхты" value="true" /></td>
                <td><h1>Лодьи</h1></td>
                <td><input type="checkbox" id="лодьи" value="true" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="projects">
    <p>проекты</p>
    @*@await Component.InvokeAsync("имя ViewComponent-a", new { shipProjectId = item.ProjectID })*@
</div>

<div class="appointment-types">
    <div class="appointment">
        <h1>Прогулочные суда:</h1>
    </div>
    <div class="types">
        <table>
            <tr>
                <td><h1>Лодки</h1></td>
                <td><input type="checkbox" id="лодки" value="true" /></td>
                <td><h1>Яхты</h1></td>
                <td><input type="checkbox" id="яхты" value="true" /></td>
                <td><h1>Лодьи</h1></td>
                <td><input type="checkbox" id="лодьи" value="true" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="projects">
    <p>проекты</p>
    @*@await Component.InvokeAsync("имя ViewComponent-a", new { shipProjectId = item.ProjectID })*@
</div>

<div class="appointment-types">
    <div class="appointment">
        <h1>Учебные суда:</h1>
    </div>
    <div class="types">
        <table>
            <tr>
                <td><h1>Лодки</h1></td>
                <td><input type="checkbox" id="лодки" value="true" /></td>
                <td><h1>Яхты</h1></td>
                <td><input type="checkbox" id="яхты" value="true" /></td>
                <td><h1>Лодьи</h1></td>
                <td><input type="checkbox" id="лодьи" value="true" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="projects">
    <p>проекты</p>
    @*@await Component.InvokeAsync("имя ViewComponent-a", new { shipProjectId = item.ProjectID })*@
</div>

<div class="appointment-types">
    <div class="appointment">
        <h1>Рыболовные суда:</h1>
    </div>
    <div class="types">
        <table>
            <tr>
                <td><h1>Лодки</h1></td>
                <td><input type="checkbox" id="лодки" value="true" /></td>
                <td><h1>Яхты</h1></td>
                <td><input type="checkbox" id="яхты" value="true" /></td>
                <td><h1>Лодьи</h1></td>
                <td><input type="checkbox" id="лодьи" value="true" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="projects">
    <p>проекты</p>
    @*@await Component.InvokeAsync("имя ViewComponent-a", new { shipProjectId = item.ProjectID })*@
</div>


<div class="appointment-types">
    <div class="appointment">
        <h1>Исторические суда:</h1>
    </div>
    <div class="types">
        <table>
            <tr>
                <td><h1>Лодки</h1></td>
                <td><input type="checkbox" id="лодки" value="true" /></td>
                <td><h1>Яхты</h1></td>
                <td><input type="checkbox" id="яхты" value="true" /></td>
                <td><h1>Лодьи</h1></td>
                <td><input type="checkbox" id="лодьи" value="true" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="projects">
    <p>проекты</p>
    @*@await Component.InvokeAsync("имя ViewComponent-a", new { shipProjectId = item.ProjectID })*@
</div>

<div class="appointment-types">
    <div class="appointment">
        <h1>Исследовательские суда:</h1>
    </div>
    <div class="types">
        <table>
            <tr>
                <td><h1>Лодки</h1></td>
                <td><input type="checkbox" id="лодки" value="true" /></td>
                <td><h1>Яхты</h1></td>
                <td><input type="checkbox" id="яхты" value="true" /></td>
                <td><h1>Лодьи</h1></td>
                <td><input type="checkbox" id="лодьи" value="true" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="projects">
    <p>проекты</p>
    @*@await Component.InvokeAsync("имя ViewComponent-a", new { shipProjectId = item.ProjectID })*@
</div>

<div class="appointment-types">
    <div class="appointment">
        <h1>Пассажирские суда:</h1>
    </div>
    <div class="types">
        <table>
            <tr>
                <td><h1>Лодки</h1></td>
                <td><input type="checkbox" id="лодки" value="true" /></td>
                <td><h1>Яхты</h1></td>
                <td><input type="checkbox" id="яхты" value="true" /></td>
                <td><h1>Лодьи</h1></td>
                <td><input type="checkbox" id="лодьи" value="true" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="projects">
    <p>проекты</p>
    @*@await Component.InvokeAsync("имя ViewComponent-a", new { shipProjectId = item.ProjectID })*@
</div>

<div class="empty">
</div>