@model IEnumerable<Varyag.Models.Project>
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    @*<input type="text" id="boatsTypeSelector" value="@ViewBag.boatsType" hidden />*@
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a href="../../Каталог">Каталог</a> > <a href="../Лодки">Лодки</a> > <a>Прогулочные гребные лодки</a>
    </div>
    <div class="largeTopFoto">
        <div class="textOverCollage">
            <h1 id="textOverCollage" class="plitkaCategoryHeader" style="font-size:2.9rem;padding-top:16%;">Прогулочные гребные лодки</h1>
        </div>
    </div>
    <div class="smallTopFoto">
        <h2 class="smallTopFotoText">Прогулочные гребные лодки</h2>
    </div>
    <div class="myBorder"></div>
    <div class="contentBlock">
        <partial name="~/Views/Shared/LeftMenu.cshtml" />
        <div class="projectsHalf">
            <div class="projectsHalfTop">
                <div class="topCatalogLine">
                    <div class="categorysLineTtem">Все прогулочные гребные лодки</div><div style="display:flex"><img src="~/images/icons/list3.png" id="iconList" style="margin-right:5px;cursor:pointer;display:none;" onclick="switchProjectsViewList()" /><img src="~/images/icons/list3-red.png" id="iconListRed" style="margin-right:5px;cursor:pointer;" onclick="switchProjectsViewList()" /><img src="~/images/icons/plitca1-2.png" id="iconPlitca" style="cursor:pointer;" onclick="switchProjectsViewPlitca()" /><img src="~/images/icons/plitca1-2-red.png" id="iconPlitcaRed" style="cursor:pointer;display:none" onclick="switchProjectsViewPlitca()" /></div>
                </div>
                <div id="border" class="myBorder"></div>
                <div class="projectsHalfText">
                    Верфь ООО "Варяг" может построить для вас любой из представленных проектов или разработать новый.
                </div>
            </div>
            <div id="plitcaStyle" style="display:none">
                @await Component.InvokeAsync("ProjectsCatalog", new { category = "boatrow", plitca = true })
            </div>
            <div id="lineStyle" style="display:initial">
                @await Component.InvokeAsync("ProjectsCatalog", new { category = "boatrow", plitca = false })
            </div>
        </div>
    </div>
</div>
