@model IEnumerable<Varyag.Models.Project>

@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    @*<input type="text" id="boatsTypeSelector" value="@ViewBag.boatsType" hidden />*@
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a href="../../Каталог">Каталог</a> > <a href="../Лодки">Лодки</a> > <a>Народные лодки</a>
    </div>
    <div class="largeTopFoto">
        <div class="textOverCollage">
            <h1 id="textOverCollage" class="plitkaCategoryHeader" style="font-size:2.9rem;padding-top:23%;">Народные лодки</h1>
        </div>
    </div>
    <div class="smallTopFoto">
        <h2 class="smallTopFotoText">Народные лодки</h2>
    </div>
    <div class="myBorder"></div>
    <div class="contentBlock">
        <div id="blackScreen" onclick="navigationButton()" class="blackScreen"></div>
        <partial name="~/Views/Shared/LeftMenu.cshtml" />
        <div class="projectsHalf">
            <div class="projectsHalfTop">
                <div class="topCatalogLine">
                    <div class="categorysLineTtem">Все народные лодки</div><div class="catalogIcons"><div class="sortOptions"><div id="sortScreen" class="sortScreen"></div>Длинна:&nbsp;<div id="sortUp" style="cursor:pointer;" onclick="lengthSort('boattraditional', 'Down')">По возрастанию</div><div id="sortDown" style="display:none;cursor:pointer;" onclick="lengthSort('boattraditional', 'Up')">По убыванию</div></div><img src="~/images/icons/list3.png" id="deactivated" class="iconList" onclick="switchProjectsViewList()" /><img src="~/images/icons/list3-red.png" id="activated" class="iconListRed" onclick="switchProjectsViewList()" /><img src="~/images/icons/plitca1-2.png" id="activated" class="iconPlitca" onclick="switchProjectsViewPlitca()" /><img src="~/images/icons/plitca1-2-red.png" id="deactivated" class="iconPlitcaRed" onclick="switchProjectsViewPlitca()" /></div>
                </div>
                <div id="border" class="myBorder"></div>
                <div class="projectsHalfText">
                    Верфь ООО "Варяг" может построить для вас любой из представленных проектов или разработать новый.
                </div>
            </div>
            <div style="position:relative">
                <div id="sortScreen2" class="sortScreen2"><div class="loadingGif"><img src="~/images/icons/loading-11.gif" class="gif" /><img src="~/images/icons/loading-105.gif" style="width:50%;display:none" /><img src="~/images/icons/loading-73.gif" style="width:50%;display:none" /><img src="~/images/icons/loading-99.gif" style="width:50%;display:none" /></div></div>
                <div id="deactivated" class="plitcaStyleCatalog">
                    @await Component.InvokeAsync("ProjectsCatalog", new { category = "boattraditional", plitca = true, lengthSort = "Up" })
                </div>
                <div id="activated" class="lineStyleCatalog">
                    @await Component.InvokeAsync("ProjectsCatalog", new { category = "boattraditional", plitca = false, lengthSort = "Up" })
                </div>
            </div>
        </div>
    </div>
</div>
