@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main" style="max-width:1000px">
    <div class="path">
        <a href="../../О-нас">Главная</a> > <a>Каталог</a>
    </div>
    <div class="explainText" style="margin:15px">
        <span style="margin-left:100px"></span>Верфь деревянного судостроения "Варяг" проектирует и строит деревянные суда различных типов и размерений.
        Если среди представленных на сайте судов вы не найдете подходящего для себя варианта,
        то мы можем спроектировать и построить такое по индивидуальному проекту, в том числе реплику реально существовавшего судна.
    </div>
    <div class="catalog" style="grid-template-columns:13.5% 13.6% 17.4% 18.6% 22.4% 14.4%;grid-template-rows:min-content;grid-template-areas:'boats bigboats kater ladya sailboat maket'">
        <div class="nav-element-choosen" name="lodki" id="lodki">
            <a href="../Каталог/Лодки">
                <div id="lodki" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/лодки-400-300dpi-низ.jpg" />
                    </div>
                    <div id="boat" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Лодки</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="shlupki" id="shlupki">
            <a href="../Каталог/Шлюпки">
                <div id="shlupki" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/шлюпки-400-300dpi-низ.jpg" />
                    </div>
                    <div id="bigboat" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Шлюпки</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="katera" id="katera">
            <a href="../Каталог/Катера">
                <div id="katera" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/катера-400-300dpi-низ.jpg" />
                    </div>
                    <div id="kater" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Катера</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="ladiy" id="ladiy">
            <a href="../Каталог/Ладьи">
                <div id="ladiy" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/ладьи-400-300dpi-низ.jpg" />
                    </div>
                    <div id="ladiy" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Ладьи</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="sailboats" id="sailboats">
            <a href="../Каталог/Парусники">
                <div id="sailboats" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/парусники-400-300dpi-низ.jpg" />
                    </div>
                    <div id="sailboats" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Парусники</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="models" id="models">
            <a href="../Каталог/Разное">
                <div id="models" class="nav-element-grid">
                    <img src="~/images/icons/Макет.jpg" />
                    <div id="models" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Разное</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    @*<div class="catalogMain">
            <div class="nav-element" name="lodki" id="lodki">
                <a href="../Каталог/Лодки">
                    <div id="lodki" class="nav-element-grid">
                        <div class="colored">
                            <img src="~/images/icons/Цветные/лодки-400-300dpi-низ.jpg" />
                        </div>
                        <div id="boat" class="whiteSpace"></div>
                        <div class="nav-element-inside">
                            <p>Лодки</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="nav-element-choosen" name="ladiy" id="ladiy">
                <a href="../Каталог/Ладьи">
                    <div id="ladiy" class="nav-element-grid">
                        <div class="colored">
                            <img src="~/images/icons/Цветные/ладьи-400-300dpi-низ.jpg" />
                        </div>
                        <div id="ladiy" class="whiteSpace"></div>
                        <div class="nav-element-inside">
                            <p>Ладьи</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="nav-element" name="katera" id="katera">
                <a href="../Каталог/Катера">
                    <div id="katera" class="nav-element-grid">
                        <div class="colored">
                            <img src="~/images/icons/Цветные/катера-400-300dpi-низ.jpg" />
                        </div>
                        <div id="kater" class="whiteSpace"></div>
                        <div class="nav-element-inside">
                            <p>Катера</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="nav-element" name="shlupki" id="shlupki">
                <a href="../Каталог/Шлюпки">
                    <div id="shlupki" class="nav-element-grid">
                        <div class="colored">
                            <img src="~/images/icons/Цветные/шлюпки-400-300dpi-низ.jpg" />
                        </div>
                        <div id="bigboat" class="whiteSpace"></div>
                        <div class="nav-element-inside">
                            <p>Шлюпки</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="nav-element" name="sailboats" id="sailboats">
                <a href="../Каталог/Парусники">
                    <div id="sailboats" class="nav-element-grid">
                        <div class="colored">
                            <img src="~/images/icons/Цветные/парусники-400-300dpi-низ.jpg" />
                        </div>
                        <div id="sailboats" class="whiteSpace"></div>
                        <div class="nav-element-inside">
                            <p>Парусники</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="nav-element" name="models" id="models">
                <a href="../Каталог/Разное">
                    <div id="models" class="nav-element-grid">
                        <div class="colored">
                            <img src="~/images/icons/Макет.jpg" />
                        </div>
                        <div id="models" class="whiteSpace"></div>
                        <div class="nav-element-inside">
                            <p>Разное</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>*@
    <div class="fullCategoryPreview" style="display:flex;flex-direction:column;align-items:center;margin-top:4%">
        <div class="fullPreview" id="lodki-Sub" style="display:flex;flex-direction:column">
            <div style="display:flex;width:100%;">
                <div class="nav-element-preview">
                    <img src="~/images/icons/Цветные/лодки-400-300dpi-низ.jpg" />
                </div>
                <div class="fullPreviewChoises" style="display:flex;flex-direction:column;font-size:1.4rem;justify-content:space-evenly;margin-left:5%">
                    <a href="../../каталог/Лодки/Прогулочные-гребные-лодки">Прогулочные гребные лодки</a>
                    <a href="../../каталог/Лодки/Прогулочные-парусные-лодки">Прогулочные парусные лодки</a>
                    <a href="../../каталог/Лодки/Народные-лодки">Народные лодки</a>
                    <a href="../../каталог/Лодки">Все лодки</a>
                </div>
            </div>
            <div class="explainText">
                <span style="margin-left:100px"></span>Верфь ООО "Варяг" проектирует и строит деревянные лодки различных типов и размерений.
                В случае необходимости мы можем изготовить лодку по индивидуальному проекту, с учетом вкусов и пожеланий конкретного заказчика.
                <br /><span style="margin-left:100px"></span>Верфь ООО "Варяг" проектирует и строит деревянные лодки различных типов и размерений.
                В случае необходимости мы можем изготовить лодку по индивидуальному проекту, с учетом вкусов и пожеланий конкретного заказчика.
                <br /><span style="margin-left:100px"></span>Верфь ООО "Варяг" проектирует и строит деревянные лодки различных типов и размерений.
                В случае необходимости мы можем изготовить лодку по индивидуальному проекту, с учетом вкусов и пожеланий конкретного заказчика.
            </div>
        </div>
        <div class="fullPreview" id="shlupki-Sub" style="display:none;flex-direction:column;">
            <div style="display:flex;width:100%;">
                <div class="nav-element-preview">
                    <img src="~/images/icons/Цветные/шлюпки-400-300dpi-низ.jpg" />
                </div>
                <div class="fullPreviewChoises" style="display:flex;flex-direction:column;font-size:1.4rem;justify-content:space-evenly;margin-left:5%">
                    <a href="../../каталог/Шлюпки/Шлюпки-ЯЛ2,ЯЛ4,ЯЛ6">Шлюпки ЯЛ2, ЯЛ4, ЯЛ6</a>
                    <a href="../../каталог/Шлюпки/Ботики">Ботики</a>
                    <a href="../../каталог/Шлюпки/Гребные-катера-и-вельботы">Гребные катера и вельботы</a>
                    <a href="../../каталог/Шлюпки/Учебные-пособия">Учебные пособия</a>
                    <a href="../../каталог/Шлюпки">Все шлюпки</a>
                </div>
            </div>
            <div class="explainText">
                <span style="margin-left:100px"></span>Верфь деревянного судостроения "Варяг" проектирует и строит шлюпки различных типов и размерений. Кроме серийно выпускаемых
                образцов, мы можем спроектировать и построить шлюпку по индивидуальному проекту, в том числе реплики исторических гребных судов XVII-XIX веков.
                <br /><span style="margin-left:100px"></span>Верфь деревянного судостроения "Варяг" проектирует и строит шлюпки различных типов и размерений. Кроме серийно выпускаемых
                образцов, мы можем спроектировать и построить шлюпку по индивидуальному проекту, в том числе реплики исторических гребных судов XVII-XIX веков.
                <br /><span style="margin-left:100px"></span>Верфь деревянного судостроения "Варяг" проектирует и строит шлюпки различных типов и размерений. Кроме серийно выпускаемых
                образцов, мы можем спроектировать и построить шлюпку по индивидуальному проекту, в том числе реплики исторических гребных судов XVII-XIX веков.
            </div>
        </div>
        <div class="fullPreview" id="katera-Sub" style="display:none;flex-direction:column;">
            <div style="display:flex;width:100%;">
                <div class="nav-element-preview">
                    <img src="~/images/icons/Цветные/катера-400-300dpi-низ.jpg" />
                </div>
                <div class="fullPreviewChoises" style="display:flex;flex-direction:column;font-size:1.4rem;justify-content:space-evenly;margin-left:5%">
                    <a href="../../каталог/Катера/Мотосейлеры">Мотосейлеры</a>
                    <a href="../../каталог/Катера/Каютные-катера">Каютные катера</a>
                    <a href="../../каталог/Катера/Рабочие-и-рыболовные-катера">Рабочие и рыболовные катера</a>
                    <a href="../../каталог/Катера/Пассажирские-катера">Пассажирские катера</a>
                    <a href="../../каталог/Катера">Все катера</a>
                </div>
            </div>
            <div class="explainText">
                <span style="margin-left:100px"></span>Верфь деревянного судостроения "Варяг" проектирует и строит катера различных типов и размерений, в том числе мотосейлеры.
                В случае необходимости мы можем изготовить катер по индивидуальному проекту, с учетом вкусов и пожеланий конкретного заказчика.
                <br /><span style="margin-left:100px"></span>Верфь деревянного судостроения "Варяг" проектирует и строит катера различных типов и размерений, в том числе мотосейлеры.
                В случае необходимости мы можем изготовить катер по индивидуальному проекту, с учетом вкусов и пожеланий конкретного заказчика.
                <br /><span style="margin-left:100px"></span>Верфь деревянного судостроения "Варяг" проектирует и строит катера различных типов и размерений, в том числе мотосейлеры.
                В случае необходимости мы можем изготовить катер по индивидуальному проекту, с учетом вкусов и пожеланий конкретного заказчика.
            </div>
        </div>
    </div>
</div>
