@*<div class="sub-nav">*@
<div class="sub-nav-elements">
    @*<div>*@
    <div class="nav-element-minor">
        <a asp-action="Motosailers" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Мотосейлеры</p>
            </div>
        </a>
    </div>
    @*</div>*@
    @*<div>*@
    <div class="nav-element-minor">
        <a asp-action="KabinKaters" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Каютные катера</p>
            </div>
        </a>
    </div>
    @*</div>
        <div>*@
    <div class="nav-element-minor">
        <a asp-action="FishingKaters" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Рабочие/Рыболовные катера</p>
            </div>
        </a>
    </div>
    @*</div>
        <div>*@
    <div class="nav-element-minor">
        <a asp-action="PassangerKaters" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Пассажирские катера</p>
            </div>
        </a>
    </div>
    @*</div>
        <div>*@
    <div class="nav-element-minor">
        <a asp-action="KaterProjects" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Проекты катеров</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Катер.jpg" /></div>
    @*</div>*@
</div>
@*</div>*@