@model IEnumerable<Varyag.Models.Project>
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a asp-action="sailboats">Каталог</a> > <a href="../Каталог/Катера">Катера</a> > <a>Рабочие и рыболовные катера</a>
    </div>
    <div id="kateraCollage" class="largeTopFoto">
        <div class="textOverCollage">
            <h1 id="textOverCollage" class="plitkaCategoryHeader" style="font-size:2.9rem;padding-top:16%;">Рабочие и рыболовные катера</h1>
        </div>
    </div>
    <div class="smallTopFoto">
        <h2 class="smallTopFotoText">Катера</h2>
    </div>
    <div class="myBorder"></div>
    <div class="contentBlock">
        <div id="blackScreen" onclick="navigationButton()" class="blackScreen"></div>
        <partial name="~/Views/Shared/LeftMenu.cshtml" />
        <div class="projectsHalf">
            <div class="projectsHalfTop">
                <div class="topCatalogLine">
                    <div class="categorysLineTtem">Гребные катера</div><div class="catalogIcons"><div class="sortOptions"><div id="sortScreen" class="sortScreen"></div>Длинна:&nbsp;<div id="sortUp" style="cursor:pointer;" onclick="lengthSort('katerfish', 'Down')">По возрастанию</div><div id="sortDown" style="display:none;cursor:pointer;" onclick="lengthSort('katerfish', 'Up')">По убыванию</div></div><img src="~/images/icons/list3.png" id="deactivated" class="iconList" onclick="switchProjectsViewList()" /><img src="~/images/icons/list3-red.png" id="activated" class="iconListRed" onclick="switchProjectsViewList()" /><img src="~/images/icons/plitca1-2.png" id="activated" class="iconPlitca" onclick="switchProjectsViewPlitca()" /><img src="~/images/icons/plitca1-2-red.png" id="deactivated" class="iconPlitcaRed" onclick="switchProjectsViewPlitca()" /></div>
                </div>
                <div id="border" class="myBorder"></div>
                <div class="projectsHalfText">
                    Рабочие катера предназначены для перевозки людей и грузов на различных акваториях. Они отличаются большой надежностью и прекрасными мореходными характеристиками.
                    Наряду с рабочими мы строим рыболовные, промысловые и научно-исследоватеольские суда, предназначенные для работы как на внутренних водных путях, так и в море.
                    Если среди представленных на сайте вариантов вы не найдете подходящих для себя, мы можем построить водоизмещающий рабочий катер по индивидуальному проекту.
                </div>
            </div>
            <div style="position:relative">
                <div id="sortScreen2" class="sortScreen2"><div class="loadingGif"><img src="~/images/icons/loading-11.gif" class="gif" /><img src="~/images/icons/loading-105.gif" style="width:50%;display:none" /><img src="~/images/icons/loading-73.gif" style="width:50%;display:none" /><img src="~/images/icons/loading-99.gif" style="width:50%;display:none" /></div></div>
                <div id="deactivated" class="plitcaStyleCatalog">
                    @await Component.InvokeAsync("ProjectsCatalog", new { category = "katerfish", plitca = true, lengthSort = "Up" })
                </div>
                <div id="activated" class="lineStyleCatalog">
                    @await Component.InvokeAsync("ProjectsCatalog", new { category = "katerfish", plitca = false, lengthSort = "Up" })
                </div>
            </div>
        </div>
    </div>
</div>
