@model IEnumerable<Varyag.Models.Project>
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    <div class="path">
        <a asp-action="AboutUs" asp-controller="About">Главная</a> > <a asp-action="sailboats">Каталог</a> > <a asp-action="Motorboats">Катера</a> > <a>Рабочие/Рыболовные катера</a>
    </div>
    <div class="explainText">
        <span style="margin-left:100px">Верфь</span> ООО "Варяг" имеет возможность проектировать
        и строить деревянные рабочие и рыболовные катера под любые ваши цели и с учетом всех ваших пожеланий.
    </div>
    <div class="catalog">
        <div class="nav-element" name="lodki" id="lodki">
            <a asp-action="boats" asp-controller="Catalog">
                <div id="lodki" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/Лодка.jpg" />
                    </div>
                    <div class="ikons">
                        <img src="~/images/icons/Закрашенные/Лодка-закрашена.jpg" />
                    </div>
                    <div class="drawing">
                        <img src="~/images/icons/Лодка.jpg" />
                    </div>
                    <div id="boat" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Лодки</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="shlupki" id="shlupki">
            <a asp-action="bigboats" asp-controller="Catalog">
                <div id="shlupki" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/Мулька_Цветная.jpg" />
                    </div>
                    <div class="ikons">
                        <img src="~/images/icons/Закрашенные/Шлюпка-закрашена.jpg" />
                    </div>
                    <div class="drawing">
                        <img src="~/images/icons/Шлюпка.jpg" />
                    </div>
                    <div id="bigboat" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Шлюпки</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element-choosen" name="katera" id="katera">
            <a asp-action="motorboats" asp-controller="Catalog">
                <div id="katera" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/Поморское судно2.jpg" />
                    </div>
                    <div class="ikons">
                        <img src="~/images/icons/Закрашенные/Катер-закрашен.jpg" />
                    </div>
                    <div class="drawing">
                        <img src="~/images/icons/Катер.jpg" />
                    </div>
                    <div id="kater" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Катера</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="ladiy" id="ladiy">
            <a asp-action="ladiy" asp-controller="Catalog">
                <div id="ladiy" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/Ладья.jpg" />
                    </div>
                    <div class="ikons">
                        <img src="~/images/icons/Закрашенные/Ладья-зак.jpg" />
                    </div>
                    <div class="drawing">
                        <img src="~/images/icons/Ладья.jpg" />
                    </div>
                    <div id="ladiy" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Ладьи</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="sailboats" id="sailboats">
            <a asp-action="sailboats" asp-controller="Catalog">
                <div id="sailboats" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/Грумант-58_Цветная мулька (Пример).jpg" />
                    </div>
                    <div class="ikons">
                        <img src="~/images/icons/Закрашенные/Парусник.jpg" />
                    </div>
                    <div class="drawing">
                        <img src="~/images/icons/Парусник.jpg" />
                    </div>
                    <div id="sailboats" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Парусники</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="models" id="models">
            <a asp-action="models" asp-controller="Catalog">
                <div id="models" class="nav-element-grid">
                    <div style="display:none"></div>
                    <div style="display:none"></div>
                    <img src="~/images/icons/Макет.jpg" />
                    <div id="models" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Макеты</p>
                        <input type="text" value="katerfish" id="currentPage" hidden />
                    </div>
                </div>
            </a>
        </div>
        <div name="sailboats-Sub" id="sailboats-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Sailboats-SubNav.cshtml")</div>
        <div name="lodki-Sub" id="lodki-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Lodki-SubNav.cshtml")</div>
        <div name="shlupki-Sub" id="shlupki-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Shlupki-SubNav.cshtml")</div>
        <div name="katera-Sub" id="katera-Sub" class="sub-nav" style="display:flex">@await Html.PartialAsync("~/Views/Catalog/Katera-SubNav.cshtml")</div>
        <div name="ladiy-Sub" id="ladiy-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Ladiy-SubNav.cshtml")</div>
        <div name="models-Sub" id="models-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Models-SubNav.cshtml")</div>
    </div>
    @await Component.InvokeAsync("ProjectsCatalog", new { category = "katerfish" })
</div>
