<div class="sub-nav">
    <div class="myBorder"></div>
    <div class="sub-nav-elements">
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="CruisnieYachty">Мотосейлеры</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="ProgulochnieYachty">Каютные катера</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="UchebnieYachty">Рабочие/Рыболовные катера</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="IstoricheskieYachty">Пассажирские катера</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="IstoricheskieYachty">Проекты катеров</a>
            </div>
        </div>
    </div>
</div>