<div class="sub-nav-elements">
    <div id="motosailer" class="nav-element-minor">
        <a asp-action="Motosailers" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Мотосейлеры</p>
            </div>
        </a>
    </div>
    <div id="katercabin" class="nav-element-minor">
        <a asp-action="KaterKabins" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Каютные катера</p>
            </div>
        </a>
    </div>
    <div id="katerfish" class="nav-element-minor">
        <a asp-action="KatersFishing" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Рабочие/Рыболовные катера</p>
            </div>
        </a>
    </div>
    <div id="katerpass" class="nav-element-minor">
        <a asp-action="KatersPassanger" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Пассажирские катера</p>
            </div>
        </a>
    </div>
    @*<div id="katerproject" class="nav-element-minor">
        <a asp-action="KaterProjects" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Проекты катеров</p>
            </div>
        </a>
    </div>*@
    <div class="cat-icons"><img src="~/images/icons/Катер.jpg" /></div>
</div>