<div class="myBorder"></div>
<div class="sub-nav">
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="CruisnieYachty">Водоизмещающие катера</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="ProgulochnieYachty">Прогулочные катера</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="UchebnieYachty">Учебные катера</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="IstoricheskieYachty">Рыболовные катера</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="PassazhirskieYachty">Каютные катера</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="PassazhirskieYachty">Пассажирские катера</a>
        </div>
    </div>
</div>