<div class="sub-nav-elements">
    <div id="motosailer" class="nav-element-minor">
        <a href="../Каталог/Катера/Мотосейлеры">
            <div class="nav-element-inside">
                <p>Мотосейлеры</p>
            </div>
        </a>
    </div>
    <div id="katercabin" class="nav-element-minor">
        <a href="../Каталог/Катера/Каютные-катера">
            <div class="nav-element-inside">
                <p>Каютные катера</p>
            </div>
        </a>
    </div>
    <div id="katerfish" class="nav-element-minor">
        <a href="../Каталог/Катера/Рабочие-и-рыболовные-катера">
            <div class="nav-element-inside">
                <p>Рабочие/Рыболовные катера</p>
            </div>
        </a>
    </div>
    <div id="katerpass" class="nav-element-minor">
        <a href="../Каталог/Катера/Пассажирские-катера">
            <div class="nav-element-inside">
                <p>Пассажирские катера</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Катер.jpg" /></div>
</div>