<div class="sub-nav-elements">
    <div id="ladyarow" class="nav-element-minor">
        <a asp-action="LadyasSailRow" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Парусно-гребные ладьи</p>
            </div>
        </a>
    </div>
    <div id="ladyasail" class="nav-element-minor">
        <a asp-action="LadyasSailMotor" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Парусно-моторные ладьи</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Ладья.jpg" /></div>
</div>