@model IEnumerable<Varyag.Models.Project>
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a asp-action="sailboats">Каталог</a> > <a>Ладьи</a>
    </div>
    <div id="ladiyCollage" class="largeTopFoto">
        <div class="textOverCollage">
            <h1 id="textOverCollage" class="plitkaCategoryHeader">Ладьи</h1>
        </div>
    </div>
    <div class="smallTopFoto">
        <h2 class="smallTopFotoText">Ладьи</h2>
    </div>
    <div class="myBorder"></div>
    <div class="contentBlock">
        <div id="blackScreen" onclick="navigationButton()" class="blackScreen"></div>
        <partial name="~/Views/Shared/LeftMenu.cshtml" />
        <div class="projectsHalf">
            <div class="projectsHalfTop">
                <div class="topCatalogLine">
                    <div class="categorysLineTtem">Средневековые ладьи</div><div class="catalogIcons"><div class="sortOptions"><div id="sortScreen" class="sortScreen"></div><div id="sortWord">Сортировка:&nbsp;</div><select id="sortOptions" onchange="lengthSort('ladiy')" class="selectSortOption"><option value="По возрастанию длинны" selected>По возрастанию длинны</option><option value="По убыванию длинны">По убыванию длинны</option></select></div><img src="~/images/icons/list3.png" id="deactivated" class="iconList" onclick="switchProjectsViewList()" /><img src="~/images/icons/list3-red.png" id="activated" class="iconListRed" onclick="switchProjectsViewList()" /><img src="~/images/icons/plitca1-2.png" id="activated" class="iconPlitca" onclick="switchProjectsViewPlitca()" /><img src="~/images/icons/plitca1-2-red.png" id="deactivated" class="iconPlitcaRed" onclick="switchProjectsViewPlitca()" /></div>
                </div>
                <div id="border" class="myBorder"></div>
                <div class="projectsHalfText">
                    Верфь деревянного судостроения "Варяг" проектирует и строит древнерусские и скандинавские ладьи различных типов и размерений.
                    Если среди представленных на сайте судов вы не найдете подходящего для себя варианта,
                    то мы можем спроектировать и построить ладью, драккар или кнорр по индивидуальному проекту, в том числе реплику реально существовавшего судна (Гокстада, Усеберга, Скульделева и пр.).
                </div>
            </div>
            <div style="position:relative">
                <div id="sortScreen2" class="sortScreen2"><div class="loadingGif"><img src="~/images/icons/loading-11.gif" class="gif" /><img src="~/images/icons/loading-105.gif" style="width:50%;display:none" /><img src="~/images/icons/loading-73.gif" style="width:50%;display:none" /><img src="~/images/icons/loading-99.gif" style="width:50%;display:none" /></div></div>
                <div id="deactivated" class="plitcaStyleCatalog">
                    @await Component.InvokeAsync("ProjectsCatalog", new { category = "ladiy", plitca = true, lengthSort = "Up" })
                </div>
                <div id="activated" class="lineStyleCatalog">
                    @await Component.InvokeAsync("ProjectsCatalog", new { category = "ladiy", plitca = false, lengthSort = "Up" })
                </div>
            </div>
        </div>
    </div>
</div>
