@*<div class="sub-nav">*@
<div class="sub-nav-elements">
    <div class="nav-element-minor">
        <a asp-action="SailRowLadyas" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Парусно-гребные ладьи</p>
            </div>
        </a>
    </div>
    <div class="nav-element-minor">
        <a asp-action="SailMotorLadyas" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Парусно-моторные ладьи</p>
            </div>
        </a>
    </div>
    <div class="nav-element-minor">
        <a asp-action="LadyaProjects" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Проекты ладей</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Ладья.jpg" /></div>
</div>
@*</div>*@