@model IEnumerable<Varyag.Models.Project>

@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a asp-action="sailboats">Каталог</a> > <a href="../Каталог/Ладьи">Ладьи</a> > <a>Парусно-моторные ладьи</a>
    </div>
    <div class="explainText">
        <span style="margin-left:100px"></span> Парусно моторные ладьи предназначены для использования в качестве прогулочных и экспедиционных судов. Прототипами при их проектировании и постройке служат реальные исторические 
        суда из Гокстара, Осеберга, Роскильда и др. Ладьи обладают прекрастными мореходными характеристиками, а комплектация их современным оборудованием обеспечивает безопасность и комфорт для команды и пассажиров.
    </div>

    <div class="catalog">
        <div class="nav-element" name="lodki" id="lodki">
            <a href="../Каталог/Лодки">
                <div id="lodki" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/лодки-400-300dpi-низ.jpg" />
                    </div>
                    <div id="boat" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Лодки</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="shlupki" id="shlupki">
            <a href="../Каталог/Шлюпки">
                <div id="shlupki" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/шлюпки-400-300dpi-низ.jpg" />
                    </div>
                    <div id="bigboat" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Шлюпки</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="katera" id="katera">
            <a href="../Каталог/Катера">
                <div id="katera" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/катера-400-300dpi-низ.jpg" />
                    </div>
                    <div id="kater" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Катера</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element-choosen" name="ladiy" id="ladiy">
            <a href="../Каталог/Ладьи">
                <div id="ladiy" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/ладьи-400-300dpi-низ.jpg" />
                    </div>
                    <div id="ladiy" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Ладьи</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="sailboats" id="sailboats">
            <a href="../Каталог/Парусники">
                <div id="sailboats" class="nav-element-grid">
                    <div class="colored">
                        <img src="~/images/icons/Цветные/парусники-400-300dpi-низ.jpg" />
                    </div>
                    <div id="sailboats" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Парусники</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="nav-element" name="models" id="models">
            <a href="../Каталог/Разное">
                <div id="models" class="nav-element-grid">
                    <img src="~/images/icons/Макет.jpg" />
                    <div id="models" class="whiteSpace"></div>
                    <div class="nav-element-inside">
                        <p>Разное</p>
                        <input type="text" value="ladyasail" id="currentPage" hidden />
                    </div>
                </div>
            </a>
        </div>
        <div name="sailboats-Sub" id="sailboats-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Sailboats-SubNav.cshtml")</div>
        <div name="lodki-Sub" id="lodki-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Lodki-SubNav.cshtml")</div>
        <div name="shlupki-Sub" id="shlupki-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Shlupki-SubNav.cshtml")</div>
        <div name="katera-Sub" id="katera-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Katera-SubNav.cshtml")</div>
        <div name="ladiy-Sub" id="ladiy-Sub" class="sub-nav" style="display:flex">@await Html.PartialAsync("~/Views/Catalog/Ladiy-SubNav.cshtml")</div>

    </div>

    @await Component.InvokeAsync("ProjectsCatalog", new { category = "ladyasail" })
</div>
