<div class="myBorder"></div>
<div class="sub-nav">
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="CruisnieYachty">Палубные лодьи</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="ProgulochnieYachty">Безпалубные лодьи</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="UchebnieYachty">Декоративные лодьи</a>
        </div>
    </div>
</div>