<div class="sub-nav">
    <div class="sub-nav-elements">
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="CruisnieYachty">Парусно-гребные ладьи</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="ProgulochnieYachty">Парусно-моторные ладьи</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="ProgulochnieYachty">Проекты ладей</a>
            </div>
        </div>
    </div>
</div>