<div class="sub-nav">
    <div class="myBorder"></div>
    <div class="sub-nav-elements">
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="Progulochnie-Lodki">Прогулочные гребные лодки</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="Uchebnie-Lodki">Прогулочные парусные лодки</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="Istoricheskie-Lodki">Народные лодки</a>
            </div>
        </div>
    </div>
</div>