@*<div class="sub-nav">*@
<div class="sub-nav-elements">
    <div id="boatsrow" class="nav-element-minor">
        <a asp-action="BoatsRow" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Прогулочные гребные лодки</p>
            </div>
        </a>
    </div>
    <div id="boatssail" class="nav-element-minor">
        <a asp-action="BoatsSail" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Прогулочные парусные лодки</p>
            </div>
        </a>
    </div>
    <div id="boatstraditional" class="nav-element-minor">
        <a asp-action="BoatsTraditional" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Народные лодки</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Лодка.jpg" /></div>
</div>
@*</div>*@