<div class="myBorder"></div>
<div class="sub-nav">
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="Progulochnie-Lodki">Прогулочные лодки</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="Uchebnie-Lodki">Рыболовные лодки</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="Istoricheskie-Lodki">Исторические лодки</a>
        </div>
    </div>
</div>