@*<div class="sub-nav">*@
    <div class="sub-nav-elements">
        <div class="nav-element-minor">
            <a asp-action="RowBoats" asp-controller="Catalog">
                <div class="nav-element-inside">
                    <p>Прогулочные гребные лодки</p>
                </div>
            </a>
        </div>
        <div class="nav-element-minor">
            <a asp-action="SailBoats" asp-controller="Catalog">
                <div class="nav-element-inside">
                    <p>Прогулочные парусные лодки</p>
                </div>
            </a>
        </div>
        <div class="nav-element-minor">
            <a asp-action="NarodnyeLodki" asp-controller="Catalog">
                <div class="nav-element-inside">
                    <p>Народные лодки</p>
                </div>
            </a>
        </div>
    </div>
@*</div>*@