<div class="sub-nav">
    <div class="myBorder"></div>
    <div class="sub-nav-elements">
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="CruisnieYachty">Обучающие модели</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="ProgulochnieYachty">Модели для кино</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="UchebnieYachty">Модели для музеев</a>
            </div>
        </div>
    </div>
</div>