@model IEnumerable<Varyag.Models.AnythingElse>
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a asp-action="sailboats">Каталог</a> > <a>Разное</a>
    </div>
    <div id="different" class="largeTopFoto">
        <div class="textOverCollage">
            <h1 id="textOverCollage" class="plitkaCategoryHeader">Разное</h1>
        </div>
    </div>
    <div class="smallTopFoto">
        <h2 class="smallTopFotoText">Разное</h2>
    </div>
    <div class="myBorder"></div>
    <div class="contentBlock">
        <div id="blackScreen" onclick="navigationButton()" class="blackScreen"></div>
        <partial name="~/Views/Shared/LeftMenu.cshtml" />
        <div class="projectsHalf">
            <div class="projectsHalfTop">
                <div class="topCatalogLine">
                    <div class="categorysLineTtem">Все разное</div><div style="display:flex"><img src="~/images/icons/list3.png" id="iconList" style="margin-right:5px;cursor:pointer;display:none;" onclick="switchProjectsViewList()" /><img src="~/images/icons/list3-red.png" id="iconListRed" style="margin-right:5px;cursor:pointer;" onclick="switchProjectsViewList()" /><img src="~/images/icons/plitca1-2.png" id="iconPlitca" style="cursor:pointer;" onclick="switchProjectsViewPlitca()" /><img src="~/images/icons/plitca1-2-red.png" id="iconPlitcaRed" style="cursor:pointer;display:none" onclick="switchProjectsViewPlitca()" /></div>
                </div>
                <div id="border" class="myBorder"></div>
                <div class="projectsHalfText">
                    Верфь деревянного судостроения "Варяг" кроме строительства обычных судов занимается изготовлением экспонатов для различных музеев, моделей судов для киносъемок,
                    а также элементов интерьера и различных инсталяций.
                </div>
            </div>
            <div class="myBorder" style="margin-top:10px"></div>
            @foreach (var item in Model)
            {
                <a href="../Каталог/Разное/@item.Route">
                    <div class="singleProject">
                        <div id="short" class="projectImage"><img src="@item.FotoPath1" /></div>
                        <div class="projectImage"><img src="@item.FotoPath2" /></div>
                        <div style="grid-area:name"><h3>@item.Name</h3></div>
                        <div style="overflow:hidden;grid-area:tth">@item.ShortDescription</div>
                    </div>
                </a>
                <div class="myBorder"></div>
            }
        </div>
    </div>
</div>
