@*<div class="sub-nav">*@
    <div class="sub-nav-elements">
        <div class="nav-element-minor">
            <a asp-action="StudyMakets" asp-controller="Catalog">
                <div class="nav-element-inside">
                    <p>Обучающие модели</p>
                </div>
            </a>
        </div>
        <div class="nav-element-minor">
            <a asp-action="CinemaMakets" asp-controller="Catalog">
                <div class="nav-element-inside">
                    <p>Модели для кино</p>
                </div>
            </a>
        </div>
        <div class="nav-element-minor">
            <a asp-action="MuseumMakets" asp-controller="Catalog">
                <div class="nav-element-inside">
                    <p>Модели для музеев</p>
                </div>
            </a>
        </div>
    </div>
@*</div>*@