@*<div class="sub-nav">*@
<div class="sub-nav-elements">
    <div id="maketstudy" class="nav-element-minor">
        <a asp-action="MaketsStudy" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Обучающие модели</p>
            </div>
        </a>
    </div>
    <div id="maketcinema" class="nav-element-minor">
        <a asp-action="MaketsCinema" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Модели для кино</p>
            </div>
        </a>
    </div>
    <div id="maketmuseum" class="nav-element-minor">
        <a asp-action="MaketsMuseum" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Модели для музеев</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Макет.jpg" /></div>
</div>
@*</div>*@