@model IEnumerable<Varyag.Models.Project>
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a asp-action="sailboats">Каталог</a> > <a href="../Каталог/Катера">Катера</a> > <a>Мотосейлеры</a>
    </div>
    <div id="kateraCollage" class="largeTopFoto">
        <div class="textOverCollage">
            <h1 id="textOverCollage" class="plitkaCategoryHeader" style="font-size:2.9rem;padding-top:32%;">Мотосейлеры</h1>
        </div>
    </div>
    <div class="smallTopFoto">
        <h2 class="smallTopFotoText">Мотосейлеры</h2>
    </div>
    <div class="myBorder"></div>
    <div class="contentBlock">
        <partial name="~/Views/Shared/LeftMenu.cshtml" />
        <div class="projectsHalf">
            <div class="projectsHalfTop">
                <div class="topCatalogLine">
                    <div class="categorysLineTtem">Все мотосейлеры</div><div style="display:flex"><img src="~/images/icons/list3.png" id="iconList" style="margin-right:5px;cursor:pointer;display:none;" onclick="switchProjectsViewList()" /><img src="~/images/icons/list3-red.png" id="iconListRed" style="margin-right:5px;cursor:pointer;" onclick="switchProjectsViewList()" /><img src="~/images/icons/plitca1-2.png" id="iconPlitca" style="cursor:pointer;" onclick="switchProjectsViewPlitca()" /><img src="~/images/icons/plitca1-2-red.png" id="iconPlitcaRed" style="cursor:pointer;display:none" onclick="switchProjectsViewPlitca()" /></div>
                </div>
                <div id="border" class="myBorder"></div>
                <div class="projectsHalfText">
                    Мотосейлеры, или суда со вспомогательным парусным вооружением, предназначены для отдыха на воде и сочетают в себе преимущество моторного катера и парусной яхты.
                    В случае необходимости мы можем построить мотосейлер по индивидуальному проекту, с учетом вкусов и пожеланий конкретного заказчика.
                </div>
            </div>
            <div id="plitcaStyle" style="display:none">
                @await Component.InvokeAsync("ProjectsCatalog", new { category = "motosailer", plitca = true })
            </div>
            <div id="lineStyle" style="display:initial">
                @await Component.InvokeAsync("ProjectsCatalog", new { category = "motosailer", plitca = false })
            </div>
        </div>
    </div>
</div>
