@model IEnumerable<Varyag.Models.Project>
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a asp-action="sailboats">Каталог</a> > <a>Катера</a>
    </div>
    <div id="kateraCollage" class="largeTopFoto">
        <div class="textOverCollage">
            <h1 id="textOverCollage" class="plitkaCategoryHeader">Катера</h1>
        </div>
    </div>
    <div class="smallTopFoto">
        <div style="margin-right:5px"><img src="~/images/icons/бургер-бел-спис2.png" /></div><h2 class="smallTopFotoText">Катера</h2>
    </div>
    <div class="myBorder"></div>
    <div class="contentBlock">
        <partial name="~/Views/Shared/LeftMenu.cshtml" />
        <div class="projectsHalf">
            <div class="projectsHalfTop">
                <div class="topCatalogLine">
                    <div class="categorysLineTtem">Все катера</div><div class="categorysLineTtem" id="navigationButton" onclick="navigationButton()" style="display:flex"><img style="width:20px;height:20px;margin:auto 3px auto auto;" src="~/images/icons/бургер-син-лин.png" />Каталог</div><div style="display:flex"><img src="~/images/icons/list3.png" id="iconList" style="margin-right:5px;cursor:pointer;display:none;" onclick="switchProjectsViewList()" /><img src="~/images/icons/list3-red.png" id="iconListRed" style="margin-right:5px;cursor:pointer;" onclick="switchProjectsViewList()" /><img src="~/images/icons/plitca1-2.png" id="iconPlitca" style="cursor:pointer;" onclick="switchProjectsViewPlitca()" /><img src="~/images/icons/plitca1-2-red.png" id="iconPlitcaRed" style="cursor:pointer;display:none" onclick="switchProjectsViewPlitca()" /></div>
                </div>
                <div id="border" class="myBorder"></div>
                <div class="projectsHalfText">
                    Верфь деревянного судостроения "Варяг" проектирует и строит катера различных типов и размерений, в том числе мотосейлеры.
                    В случае необходимости мы можем изготовить катер по индивидуальному проекту, с учетом вкусов и пожеланий конкретного заказчика.
                </div>
            </div>
            <div class="navigationPlitka">
                <partial name="~/Views/Shared/CatalogPlitka.cshtml" />
            </div>
            <div id="plitcaStyle" style="display:none">
                @await Component.InvokeAsync("ProjectsCatalog", new { category = "kater", plitca = true })
            </div>
            <div id="lineStyle" style="display:initial">
                @await Component.InvokeAsync("ProjectsCatalog", new { category = "kater", plitca = false })
            </div>
        </div>
    </div>
</div>