@model IEnumerable<Varyag.Models.Project>

@{
    ViewData["Title"] = "Купить прекрасные яхты от производителя";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<input type="text" value="sailboats" id="currentPage" hidden />

<h1 style="padding-bottom:20px">Парусники</h1>

<div class="catalog">
    <div class="nav" id="nav">
        <div class="nav-element" name="lodki" id="lodki">
            <img src="~/images/icons/гребная_лодка.jpg" />
            <div class="nav-element-inside">
                <a asp-action="boats">Лодки</a>
            </div>
        </div>
        <div class="nav-element" name="shlupki" id="shlupki">
            <img src="~/images/icons/гребная_лодка.jpg" />
            <div class="nav-element-inside">
                <a asp-action="bigboats">Шлюпки</a>
            </div>
        </div>
        <div class="nav-element" name="katera" id="katera">
            <img src="~/images/icons/гребная_лодка.jpg" />
            <div class="nav-element-inside">
                <a asp-action="motorboats">Катера</a>
            </div>
        </div>
        <div class="nav-element" name="lodiy" id="lodiy">
            <img src="~/images/icons/гребная_лодка.jpg" />
            <div class="nav-element-inside">
                <a asp-action="lodiy">Ладьи</a>
            </div>
        </div>
        <div class="nav-element-choosen" name="sailboats" id="sailboats">
            <img src="~/images/icons/гребная_лодка.jpg" />
            <div class="nav-element-inside">
                <a asp-action="yachts">Парусники</a>
            </div>
        </div>
        <div class="nav-element" name="models" id="models">
            <img src="~/images/icons/гребная_лодка.jpg" />
            <div class="nav-element-inside">
                <a asp-action="schooners">Макеты</a>
            </div>
        </div>
    </div>
    <div name="sailboats-Sub" id="sailboats-Sub">@await Html.PartialAsync("~/Views/Catalog/Sailboats-SubNav.cshtml")</div>
    <div name="lodki-Sub" id="lodki-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Lodki-SubNav.cshtml")</div>
    <div name="shlupki-Sub" id="shlupki-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Shlupki-SubNav.cshtml")</div>
    <div name="katera-Sub" id="katera-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Katera-SubNav.cshtml")</div>
    <div name="lodiy-Sub" id="lodiy-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Lodiy-SubNav.cshtml")</div>
    <div name="models-Sub" id="models-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Models-SubNav.cshtml")</div>

</div>

<div>@await Component.InvokeAsync("ProjectsCatalog", new { category = "sailboat" })</div>