<div class="sub-nav">
    <div class="sub-nav-elements">
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="Cruisnie-Yachty">Парусные яхты</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="Progulochnie-Yachty">Швертботы</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="Uchebnie-Yachty">Учебные парусники</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="Istoricheskie-Yachty">Исторические парусники</a>
            </div>
        </div>
    </div>
</div>