<div class="sub-nav-elements">
    <div id="yacht" class="nav-element-minor">
        <a asp-action="Yachts" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Парусные яхты</p>
            </div>
        </a>
    </div>
    <div id="shvertbot" class="nav-element-minor">
        <a asp-action="Svertbots" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Швертботы</p>
            </div>
        </a>
    </div>
    <div id="sailboatstudy" class="nav-element-minor">
        <a asp-action="SailboatsStudy" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Учебные парусники</p>
            </div>
        </a>
    </div>
    <div id="sailboathistorical" class="nav-element-minor">
        <a asp-action="SailboatsHistorical" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Исторические парусники</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Парусник.jpg" /></div>
</div>