@*<div class="sub-nav">*@
<div class="sub-nav-elements">
    <div class="nav-element-minor">
        <a asp-action="Yachts" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Парусные яхты</p>
            </div>
        </a>
    </div>
    <div class="nav-element-minor">
        <a asp-action="Svertbots" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Швертботы</p>
            </div>
        </a>
    </div>
    <div class="nav-element-minor">
        <a asp-action="StudySailboats" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Учебные парусники</p>
            </div>
        </a>
    </div>
    <div class="nav-element-minor">
        <a asp-action="HistoricalSailboats" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Исторические парусники</p>
            </div>
        </a>
    </div>
    <div class="nav-element-minor">
        <a asp-action="SailboatsProjects" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Проекты парусников</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Парусник.jpg" /></div>
</div>
@*</div>*@