@model IEnumerable<Varyag.Models.Project>
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div class="MyContainer" id="main">
    <div class="path">
        <a href="../../О-Нас">Главная</a> > <a asp-action="sailboats">Каталог</a> > <a>Парусники</a>
    </div>
    <div id="sailboatsCollage" class="largeTopFoto">
        <div class="textOverCollage">
            <h1 id="textOverCollage" class="plitkaCategoryHeader" style="font-size:3.6rem">Парусники</h1>
        </div>
    </div>
    <div class="smallTopFoto">
        <h2 class="smallTopFotoText">Парусники</h2>
    </div>
    <div class="myBorder"></div>
    <div class="contentBlock">
        <partial name="~/Views/Shared/LeftMenu.cshtml" />
        <div class="projectsHalf">
            <div class="projectsHalfTop">
                <div class="topCatalogLine">
                    <div class="categorysLineTtem">Все парусники</div><div style="display:flex"><img src="~/images/icons/list3.png" id="iconList" style="margin-right:5px;cursor:pointer;display:none;" onclick="switchProjectsViewList()" /><img src="~/images/icons/list3-red.png" id="iconListRed" style="margin-right:5px;cursor:pointer;" onclick="switchProjectsViewList()" /><img src="~/images/icons/plitca1-2.png" id="iconPlitca" style="cursor:pointer;" onclick="switchProjectsViewPlitca()" /><img src="~/images/icons/plitca1-2-red.png" id="iconPlitcaRed" style="cursor:pointer;display:none" onclick="switchProjectsViewPlitca()" /></div>
                </div>
                <div id="border" class="myBorder"></div>
                <div class="projectsHalfText">
                    Верфь деревянного судостроения "Варяг" проектирует и строит парусно-моторные сцда различных типов, размерений и назначения. Отличительной чертой наших судов является сочетание
                    облика старинного парусика, прекрасных мореходных характеристик и современного яхтенного оборудования. Если среди представленных вариантов вы не найдете подходящий для себя, мы можем спроектировать
                    и построить парусно-моторное судно по индивидуальному проекту, в том числе реплику исторического корабля.
                </div>
            </div>
            <div id="plitcaStyle" style="display:none">
                @await Component.InvokeAsync("ProjectsCatalog", new { category = "sailboat", plitca = true })
            </div>
            <div id="lineStyle" style="display:initial">
                @await Component.InvokeAsync("ProjectsCatalog", new { category = "sailboat", plitca = false })
            </div>
        </div>
    </div>
</div>
