@model IEnumerable<Varyag.Models.Project>

@{
    ViewData["Title"] = "Купить прекрасные яхты от производителя";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


@*<h1>Парусники</h1>*@
<p style="font-size:22px; text-align:left; margin:35px">
    <span style="margin-left:100px">Верфь</span> ООО "Варяг" имеет возможность проектировать
    и строить деревянные парусники под любые ваши цели и с учетом всех ваших пожеланий, от шветрботов и небольших парусных яхт для прогулок до большых учебных или исторических парусников. Все представленные в каталоге проекты разрабатывались нами под нужды контретных людей и каждый получил такой парусник, который нужен был ему.<br />
    <span style="margin-left:100px">За</span> время своего существования мы произвели десятки парусных судов, до сих пор бороздящих просторы морей и океанов во всех уголках нашей планеты, от Карибского моря до побережья Австралии.
</p>

<div class="catalog">
    <div class="nav" id="nav">
        <div class="nav-element" name="lodki" id="lodki">
            <a asp-action="boats" asp-controller="Catalog">
                <img src="~/images/боковушки/Лодка.jpg" />
                <div class="whiteSpace"></div>
                <div class="nav-element-inside">
                    <p>Лодки</p>
                </div>
            </a>
        </div>
        <div class="nav-element" name="shlupki" id="shlupki">
            <a asp-action="bigboats" asp-controller="Catalog">
                <img src="~/images/боковушки/Шлюпка.jpg" />
                <div class="whiteSpace"></div>
                <div class="nav-element-inside">
                    <p>Шлюпки</p>
                </div>
            </a>
        </div>
        <div class="nav-element" name="katera" id="katera">
            <a asp-action="motorboats" asp-controller="Catalog">
                <img src="~/images/боковушки/Катер.jpg" />
                <div class="whiteSpace"></div>
                <div class="nav-element-inside">
                    <p>Катера</p>
                </div>
            </a>
        </div>
        <div class="nav-element" name="lodiy" id="lodiy">
            <a asp-action="ladiy" asp-controller="Catalog">
                <img src="~/images/боковушки/Ладья2.jpg" />
                <div class="whiteSpace"></div>
                <div class="nav-element-inside">
                    <p>Ладьи</p>
                </div>
            </a>
        </div>
        <div class="nav-element-choosen" name="sailboats" id="sailboats">
            <a asp-action="sailboats" asp-controller="Catalog">
                <img src="~/images/боковушки/Парусник.jpg" />
                <div class="whiteSpace"></div>
                <div class="nav-element-inside">
                    <p>Парусники</p>
                </div>
            </a>
        </div>
        <div class="nav-element" name="models" id="models">
            <a asp-action="makets" asp-controller="Catalog">
                <img src="~/images/icons/гребная_лодка.jpg" />
                <div class="whiteSpace"></div>
                <div class="nav-element-inside">
                    <p>Макеты</p>
                    <input type="text" value="sailboats" id="currentPage" hidden />
                </div>
            </a>
        </div>
    </div>
    <div name="sailboats-Sub" id="sailboats-Sub">@await Html.PartialAsync("~/Views/Catalog/Sailboats-SubNav.cshtml")</div>
    <div name="lodki-Sub" id="lodki-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Lodki-SubNav.cshtml")</div>
    <div name="shlupki-Sub" id="shlupki-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Shlupki-SubNav.cshtml")</div>
    <div name="katera-Sub" id="katera-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Katera-SubNav.cshtml")</div>
    <div name="lodiy-Sub" id="lodiy-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Lodiy-SubNav.cshtml")</div>
    <div name="models-Sub" id="models-Sub" hidden>@await Html.PartialAsync("~/Views/Catalog/Models-SubNav.cshtml")</div>

</div>

@await Component.InvokeAsync("ProjectsCatalog", new { category = "sailboat" })