@model IEnumerable<Varyag.Models.Project>

@{
    ViewData["Title"] = "Купить прекрасные яхты от производителя";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}


@*<h1>Парусники</h1>*@
<div class="explainText">
    <span style="margin-left:100px">Верфь</span> ООО "Варяг" имеет возможность проектировать
    и строить деревянные парусники под любые ваши цели и с учетом всех ваших пожеланий, от шветрботов и небольших парусных яхт для прогулок до большых учебных или исторических парусников. Все представленные в каталоге проекты разрабатывались нами под нужды контретных людей и каждый получил такой парусник, который нужен был ему.<br />
    <span style="margin-left:100px">За</span> время своего существования мы произвели десятки парусных судов, до сих пор бороздящих просторы морей и океанов во всех уголках нашей планеты, от Карибского моря до побережья Австралии.
</div>

<div class="catalog">
    @*////////закоменть див id="nav" снизу для корректного вывода по гриду (№1 или далее)////////*@
    @*<div class="nav" id="nav">*@
    <div class="nav-element" name="lodki" id="lodki">
        <a asp-action="boats" asp-controller="Catalog">
            <img src="~/images/icons/Лодка.jpg" />
            <div id="boat" class="whiteSpace"></div>
            <div class="nav-element-inside">
                <p>Лодки</p>
            </div>
        </a>
    </div>
    <div class="nav-element" name="shlupki" id="shlupki">
        <a asp-action="bigboats" asp-controller="Catalog">
            <img src="~/images/icons/Шлюпка.jpg" />
            <div id="bigboat" class="whiteSpace"></div>
            <div class="nav-element-inside">
                <p>Шлюпки</p>
            </div>
        </a>
    </div>
    <div class="nav-element" name="katera" id="katera">
        <a asp-action="motorboats" asp-controller="Catalog">
            <img src="~/images/icons/Катер.jpg" />
            <div id="kater" class="whiteSpace"></div>
            <div class="nav-element-inside">
                <p>Катера</p>
            </div>
        </a>
    </div>
    <div class="nav-element" name="ladiy" id="ladiy">
        <a asp-action="ladiy" asp-controller="Catalog">
            <img src="~/images/icons/Ладья.jpg" />
            <div id="ladiy" class="whiteSpace"></div>
            <div class="nav-element-inside">
                <p>Ладьи</p>
            </div>
        </a>
    </div>
    <div class="nav-element" name="sailboats" id="sailboats">
        <a asp-action="sailboats" asp-controller="Catalog">
            <img src="~/images/icons/Парусник.jpg" />
            <div id="sailboats" class="whiteSpace"></div>
            <div class="nav-element-inside">
                <p>Парусники</p>
            </div>
        </a>
    </div>
    <div class="nav-element" name="models" id="models">
        <a asp-action="makets" asp-controller="Catalog">
            <img src="~/images/icons/Макет.jpg" />
            <div id="models" class="whiteSpace"></div>
            <div class="nav-element-inside">
                <p>Макеты</p>
                <input type="text" value="sailboats" id="currentPage" hidden />
            </div>
        </a>
    </div>
    @*////////убери див снизу для корректного вывода по гриду////////*@
    @*</div>*@
    <div name="sailboats-Sub" id="sailboats-Sub" class="sub-nav" style="display:flex">@await Html.PartialAsync("~/Views/Catalog/Sailboats-SubNav.cshtml")</div>
    <div name="lodki-Sub" id="lodki-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Lodki-SubNav.cshtml")</div>
    <div name="shlupki-Sub" id="shlupki-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Shlupki-SubNav.cshtml")</div>
    <div name="katera-Sub" id="katera-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Katera-SubNav.cshtml")</div>
    <div name="ladiy-Sub" id="ladiy-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Ladiy-SubNav.cshtml")</div>
    <div name="models-Sub" id="models-Sub" class="sub-nav">@await Html.PartialAsync("~/Views/Catalog/Models-SubNav.cshtml")</div>

</div>

@await Component.InvokeAsync("ProjectsCatalog", new { category = "sailboat" })