<div class="sub-nav">
    <div class="sub-nav-elements">
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="ProgulochnieYachty">Ял-6, Ял-4, Ял-2</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="UchebnieYachty">Гребные катера</a>
            </div>
        </div>
        <div class="nav-element-minor">
            <div class="nav-element-inside">
                <a asp-action="IstoricheskieYachty">Ботики</a>
            </div>
        </div>
    </div>
</div>