@*<div class="sub-nav">*@
    <div class="sub-nav-elements">
        <div class="nav-element-minor">
            <a asp-action="Yals" asp-controller="Catalog">
                <div class="nav-element-inside">
                    <p>Ял-6, Ял-4, Ял-2</p>
                </div>
            </a>
        </div>
        <div class="nav-element-minor">
            <a asp-action="KaterRows" asp-controller="Catalog">
                <div class="nav-element-inside">
                    <p>Гребные катера</p>
                </div>
            </a>
        </div>
        <div class="nav-element-minor">
            <a asp-action="Botiks" asp-controller="Catalog">
                <div class="nav-element-inside">
                    <p>Ботики</p>
                </div>
            </a>
        </div>
    </div>
@*</div>*@