<div class="sub-nav-elements">
    <div id="boatyal" class="nav-element-minor">
        <a href="../Каталог/Шлюпки/Шлюпки-ЯЛ2,ЯЛ4,ЯЛ6">
            <div class="nav-element-inside">
                <p>Ял-6, Ял-4, Ял-2</p>
            </div>
        </a>
    </div>
    <div id="katerrow" class="nav-element-minor">
        <a href="../Каталог/Шлюпки/Гребные-катера-и-вельботы">
            <div class="nav-element-inside">
                <p>Гребные катера и вельботы</p>
            </div>
        </a>
    </div>
    <div id="botik" class="nav-element-minor">
        <a href="../Каталог/Шлюпки/Ботики">
            <div class="nav-element-inside">
                <p>Ботики</p>
            </div>
        </a>
    </div>
    <div id="maketstudy" class="nav-element-minor">
        <a href="../Каталог/Шлюпки/Учебные-пособия"">
            <div class="nav-element-inside">
                <p>Учебные пособия</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Цветные/шлюпки-400-300dpi-низ.jpg" /></div>
</div>