<div class="sub-nav-elements">
    <div id="boatyal" class="nav-element-minor">
        <a asp-action="BoatsYal" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Ял-6, Ял-4, Ял-2</p>
            </div>
        </a>
    </div>
    <div id="katerrow" class="nav-element-minor">
        <a asp-action="KaterRows" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Гребные катера и вельботы</p>
            </div>
        </a>
    </div>
    <div id="botik" class="nav-element-minor">
        <a asp-action="Botiks" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Ботики</p>
            </div>
        </a>
    </div>
    <div id="maketstudy" class="nav-element-minor">
        <a asp-action="MaketsStudy" asp-controller="Catalog">
            <div class="nav-element-inside">
                <p>Учебные пособия</p>
            </div>
        </a>
    </div>
    <div class="cat-icons"><img src="~/images/icons/Цветные/шлюпки-400-300dpi-низ.jpg" /></div>
</div>