<div class="myBorder"></div>
<div class="sub-nav">
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="ProgulochnieYachty">Прогулочные шлюпки</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="UchebnieYachty">Учебные шлюпки</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="IstoricheskieYachty">Исторические шлюпки</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="PassazhirskieYachty">Экспедиционные шлюпки</a>
        </div>
    </div>
</div>