<div class="myBorder"></div>
<div class="sub-nav">
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="Cruisnie-Yachty">Круизные яхты</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="Progulochnie-Yachty">Прогулочные яхты</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="Uchebnie-Yachty">Учебные яхты</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="Istoricheskie-Yachty">Исторические яхты</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="Passazhirskie-Yachty">Пассажирские яхты</a>
        </div>
    </div>
</div>