<div class="myBorder"></div>
<div class="sub-nav">
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="CruisnieYachty">Круизные яхты</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="ProgulochnieYachty">Прогулочные яхты</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="UchebnieYachty">Учебные яхты</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="IstoricheskieYachty">Исторические яхты</a>
        </div>
    </div>
    <div class="nav-element-minor">
        <div class="nav-element-inside">
            <a asp-action="PassazhirskieYachty">Пассажирские яхты</a>
        </div>
    </div>
</div>