@Html.DropDownList("LinkedProjects", ViewData["projectNames"] as SelectList, htmlAttributes: new { @style = "height:100%;width:100%;", @onchange = "newsLinkToProject()" })
<div style="display:flex;flex-direction:column;" id="LinkedProjectsList">
</div>