
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div id="main" class="headerAbout">
    <div class="borderAbout"></div>
    <div style="font-family:'BalticaC'">Верфь деревянного судостроения "Варяг"</div>
    <div>Верфь деревянного судостроения "Варяг"</div>
    <div class="borderAbout"></div>
</div>
<div id="production" class="about">
    <div class="annotation">
        <div class="annotationText">
            <p>
                За 30 лет нами было построено более 50 крупных судов и больше 150 лодок и шлюпок.<br />
                <span id="production" class="longText">Подробнее о нашем производстве можно здесь.</span>
                <span id="production" class="shortText">Подробнее...</span>
            </p>
        </div>
    </div>
</div>
<div id="news" class="about">
    <div class="headerAbout">
        <div class="borderAbout"></div>
        <div>Отследить события из нашей жизни и жизни наших кораблей можно в разделе новостей.</div>
        <div class="borderAbout"></div>
    </div>
    <div class="partNews">
        <div id="one" class="partNewsElement">
            <div class="annotation">
                <div class="annotationText">
                    Вот какой классный мы построили кораблик!<br /><a>Подробности...</a>
                </div>
            </div>
        </div>
        <div id="two" class="partNewsElement">
            <div class="annotation">
                <div class="annotationText">
                    А вот в какое классное путешествие отправился другой!<br /><a>Подробности...</a>
                </div>
            </div>
        </div>
        <div id="three" class="partNewsElement">
            <div class="annotation">
                <div class="annotationText">
                    А тут наш кораблик - гвоздь программы!<br /><a>Подробности...</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="сatalog" class="about">
    <div class="annotation">
        <div class="annotationText">
            <p>
                <span id="сatalog" class="longTextSecond">
                    Мы работаем с каждым заказчиком индивидуально и
                </span>
                <span id="сatalog" class="shortTextSecond">Мы</span>
                 можем модифицировать существующий проект или разработать судно согласно вашим пожеланиям.<br />
                <span id="сatalog" class="longText">Посмотреть на существующие проекты можно в нашел каталоге.</span>
                <span id="сatalog" class="shortText">Наш каталог...</span>
            </p>
        </div>
    </div>
</div>
<div id="customers" class="about">
    <div class="headerAbout">
        <div class="borderAbout"></div>
        <div>За время существования нашей верфи нашими заказчиками стали:</div>
        <div class="borderAbout"></div>
    </div>
    <div id="viewPort">
        <div id="left" class="control">
            <div class="arrow">
                <div class="arrow-top"></div>
                <div class="arrow-bottom"></div>
            </div>
        </div>
        <div id="right" class="control">
            <div class="arrow">
                <div id="right" class="arrow-top"></div>
                <div id="right" class="arrow-bottom"></div>
            </div>
        </div>
        <div class="allCustomers">
            <div class="customersBlock">
                <div class="singleCustomer">
                    Артек
                </div>
                <div class="singleCustomer">
                    Мгу Биологическая станция
                </div>
                <div class="singleCustomer">
                    Администрация Воронежа
                </div>
                <div class="singleCustomer">
                    Мгу Биологическая станция
                </div>
                <div class="singleCustomer">
                    Администрация Воронежа
                </div>
            </div>
            <div class="customersBlock">
                <div class="singleCustomer">
                    Артек
                </div>
                <div class="singleCustomer">
                    Мгу Биологическая станция
                </div>
                <div class="singleCustomer">
                    Администрация Воронежа
                </div>
                <div class="singleCustomer">
                    Мгу Биологическая станция
                </div>
                <div class="singleCustomer">
                    Администрация Воронежа
                </div>
            </div>
            <div class="customersBlock">
                <div class="singleCustomer">
                    Артек
                </div>
                <div class="singleCustomer">
                    Мгу Биологическая станция
                </div>
                <div class="singleCustomer">
                    Администрация Воронежа
                </div>
                <div class="singleCustomer">
                    Мгу Биологическая станция
                </div>
                <div class="singleCustomer">
                    Администрация Воронежа
                </div>
            </div>
        </div>
    </div>
</div>
<div id="goto-predist" class="about">
    <div class="annotation">
        <div class="annotationText">
            <p>
                Крупнейший наш проект - строительство корабля-музея
                "Гото-Предистинация"
                <span id="goto-predist" class="longText">
                    для воронежской области.
                </span><br />
                <span id="goto-predist" class="longText">
                    Подробно историю создания этого судна
                </span>
                <span id="goto-predist" class="shortText">
                    Подробнее...
                </span>
                <span id="goto-predist" class="longTextSecond"> можно увидеть тут.</span>
            </p>
        </div>
    </div>
</div>
<div id="contacts" class="about">
    <div class="contactsText">
        <p>
            Мы находимся в Карелии,<span id="contacts" class="longText">
            приехать к нам и посмотреть на наше производство можно
            </span> по адресу: г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43<span id="contacts" class="longTextSecond">,
            заезд с переулка спасателей.</span>
            <br />Связаться с нами можно по:
        </p>
        <p style="margin-top:2vh">электронной почте&nbsp;- varyag@onego.ru<br />
        или по телефону&nbsp;- 8&nbsp;814&nbsp;273&nbsp;35&nbsp;80</p
    </div>
    <div id="ourLocation"></div>
</div>
