
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="aboutH1" style="text-align:center"><h1>Верфь деревянного судостроения "Варяг"</h1></div>

<div class="betweenAbout">
    <p>
        За годы работы нами было построено множество прекрасных парусников,
        катеров, ладей, лодок и шлюпок. Мы работаем с каждым заказчиком индивидуально
        и можем модифицировать существующий проект или разработать судно согласно вашим пожеланиям.
    </p>
</div>
<div>
    <div id="сatalog" class="about">
        <p>
            Посмотреть на существующие проекты можно в нашел каталоге.
        </p>
    </div>
    <div class="betweenAbout">
        <p>
            На нашей верфи бережно сохраняют и развивают традиции деревянного судостроения.
            Мы выполняем весь цикл необходимых для спуска и ввода в эксплуатацию работ, от проектирования
            до покраски, планировки интерьеров и резбы.
        </p>
    </div>
    <div id="production" class="about">
        <p>
            Подробнее об этом процессе можно почитать тут.
        </p>
    </div>
    <div class="betweenAbout">
        <p>
            Кроме постройки судов мы участвуем в выставках и других мероприятиях.
        </p>
    </div>
    <div id="news" class="about">
        <p>
            Отследить наши события можно в разделе новостей.
        </p>
    </div>
    <div class="betweenAbout">
        <p>
            Наши суда живут интересной и насыщенной жизнью - ходят в кругосветки,
            участвуют в представлениях, приобщают юных моряков и не только к морю,
            а так-же служат в рыбных хозяйствах и на беломорской научной станции.
        </p>
    </div>
    <div id="shipsLife" class="about">
        <p>
            Подробнее о жизни наших судов можно узнать тут.
        </p>
    </div>
    <div class="betweenAbout">
        <p>
            Крупнейший наш проект - строительство корабля-музея
            "Гото-Предистинация" для воронежской области.
        </p>
    </div>
    <div id="goto-Predist" class="about">
        <p>
            Подробно историю создания этого судна можно увидеть тут.
        </p>
    </div>
    <div class="betweenAbout">
        <p>
            Мы находимся в Карелии, в городе Петрозаводск, но наши суда
            можно встретить и в австралии и в карибском море.
        </p>
    </div>
    <div id="contacts" class="about">
        <p>
            Подробнее о способах доставки и наши контакты можно узнать здесь.
        </p>
    </div>
</div>
