
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div id="main" class="headerAbout">
    <div class="borderAbout"></div>
    <div style="font-family:'BalticaC'">Верфь деревянного судостроения "Варяг"</div>
    <div>Верфь деревянного судостроения "Варяг"</div>
    <div class="borderAbout"></div>
</div>
<div id="production" class="about">
    <div class="annotation">
        <div class="annotationText">
            <p>
                За 30 лет нами было построено более 50 крупных судов и больше 150 лодок и шлюпок.<br />
                <span id="production" class="longText">Подробнее о нашем производстве можно здесь.</span>
                <span id="production" class="shortText">Подробнее...</span>
            </p>
        </div>
    </div>
</div>
<a name="новости"></a>
@await Component.InvokeAsync("News")
<div id="сatalog" class="about">
    <div class="annotation">
        <div class="annotationText">
            <p>
                <span id="сatalog" class="longTextSecond">
                    Мы работаем с каждым заказчиком индивидуально и
                </span>
                <span id="сatalog" class="shortTextSecond">Мы</span>
                можем модифицировать существующий проект или разработать судно согласно вашим пожеланиям.<br />
                <span id="сatalog" class="longText">Посмотреть на существующие проекты можно в нашел каталоге.</span>
                <span id="сatalog" class="shortText">Наш каталог...</span>
            </p>
        </div>
    </div>
</div>
<div id="customers" class="about">
    <div class="headerAbout">
        <div class="borderAbout"></div>
        <div>За время существования нашей верфи нашими заказчиками стали:</div>
        <div class="borderAbout"></div>
    </div>
    <div id="viewPort">
        <div id="left" class="control">
            <div class="arrow">
                <div class="arrow-top"></div>
                <div class="arrow-bottom"></div>
            </div>
        </div>
        <div id="right" class="control">
            <div class="arrow">
                <div id="right" class="arrow-top"></div>
                <div id="right" class="arrow-bottom"></div>
            </div>
        </div>
        <div class="allCustomers">
            <div id="1" class="singleCustomer">
                РОО "Морская Молодежная Лига", ВДЦ "Артек"
            </div>
            <div class="singleCustomer">
                Комитет по физической культуре и спорту Новгородской области
            </div>
            <div class="singleCustomer">
                Федеральное государственное учреждение "Национальный парк "Паанаярви""
            </div>
            <div class="singleCustomer">
                Федеральное государственное учреждение "Национальный парк "Водлозерский""
            </div>
            <div class="singleCustomer">
                Государственный музей-заповедник "Царское село", г.&nbsp;Санкт-Петербург
            </div>
            <div class="singleCustomer">
                Новосибирская государственная академия водного транспорта
            </div>
            <div class="singleCustomer">
                ООО Киностудия "Вертикаль", Говорухин Станислав
            </div>
            <div class="singleCustomer">
                Британская кинокомпания "Picture palace", Malcolm Craddock
            </div>
            <div class="singleCustomer">
                ФГОУ Всероссийский центр "Орленок", г.&nbsp;Туапсе
            </div>
            <div class="singleCustomer">
                ФГОУ ВПО "Волжская государственная академия водного транспорта"
            </div>
            <div class="singleCustomer">
                ФГОУ "Государственная морская академия имени фдмирала С.О.&nbsp;Макарова"
            </div>
            <div class="singleCustomer">
                ФГОУ "Новороссийская Государственная Морская Академия" им.&nbsp;Ф.Ф.&nbsp;Ушакова
            </div>
            <div class="singleCustomer">
                Учебный центр ФСБ России, г. Анапа
            </div>
            <div class="singleCustomer">
                ГОУ НПО "Морской профессиональный лицей №9 им. С.Н.&nbsp;Орешкова", г.&nbsp;Архангельск
            </div>
            <div class="singleCustomer">
                ГОУ СПО Спб Морской технический колледж
            </div>
            <div class="singleCustomer">
                Самарский речной техникум
            </div>
            <div class="singleCustomer">
                Клубы Юный Моряков г.&nbsp;Великого&nbsp;Новгорода, Тольятти, Белгорода, Анапы, Сысерти, Костромы, Пензы, Нижнего&nbsp;Новгорода, Перми, Уфы и др.
            </div>
            @*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@
            <div class="singleCustomer">
                Учебный центр ФСБ России, г. Анапа
            </div>
            <div class="singleCustomer">
                ГОУ НПО "Морской профессиональный лицей №9 им. С.Н.&nbsp;Орешкова", г.&nbsp;Архангельск
            </div>
            <div class="singleCustomer">
                ГОУ СПО Спб Морской технический колледж
            </div>
            <div class="singleCustomer">
                Новосибирская государственная академия водного транспорта
            </div>
            <div class="singleCustomer">
                ООО Киностудия "Вертикаль", Говорухин Станислав
            </div>
            <div class="singleCustomer">
                Британская кинокомпания "Picture palace", Malcolm Craddock
            </div>
            <div class="singleCustomer">
                ФГОУ Всероссийский центр "Орленок", г.&nbsp;Туапсе
            </div>
            <div class="singleCustomer">
                ФГОУ ВПО "Волжская государственная академия водного транспорта"
            </div>
            <div class="singleCustomer">
                ФГОУ "Государственная морская академия имени фдмирала С.О.&nbsp;Макарова"
            </div>
            <div class="singleCustomer">
                ФГОУ "Новороссийская Государственная Морская Академия" им.&nbsp;Ф.Ф.&nbsp;Ушакова
            </div>
            <div class="singleCustomer">
                Учебный центр ФСБ России, г. Анапа
            </div>
            <div class="singleCustomer">
                ГОУ НПО "Морской профессиональный лицей №9 им. С.Н.&nbsp;Орешкова", г.&nbsp;Архангельск
            </div>
            <div class="singleCustomer">
                ГОУ СПО Спб Морской технический колледж
            </div>
            <div class="singleCustomer">
                Новосибирская государственная академия водного транспорта
            </div>
            <div class="singleCustomer">
                ООО Киностудия "Вертикаль", Говорухин Станислав
            </div>
            <div class="singleCustomer">
                Британская кинокомпания "Picture palace", Malcolm Craddock
            </div>
            <div class="singleCustomer">
                ФГОУ Всероссийский центр "Орленок", г.&nbsp;Туапсе
            </div>
            <div class="singleCustomer">
                ФГОУ ВПО "Волжская государственная академия водного транспорта"
            </div>
            <div class="singleCustomer">
                ФГОУ "Государственная морская академия имени фдмирала С.О.&nbsp;Макарова"
            </div>
            <div class="singleCustomer">
                ФГОУ "Новороссийская Государственная Морская Академия" им.&nbsp;Ф.Ф.&nbsp;Ушакова
            </div>
            <div class="singleCustomer">
                Учебный центр ФСБ России, г. Анапа
            </div>
            <div class="singleCustomer">
                ГОУ НПО "Морской профессиональный лицей №9 им. С.Н.&nbsp;Орешкова", г.&nbsp;Архангельск
            </div>
            <div class="singleCustomer">
                ГОУ СПО Спб Морской технический колледж
            </div>
            <div class="singleCustomer">
                Новосибирская государственная академия водного транспорта
            </div>
            <div class="singleCustomer">
                ООО Киностудия "Вертикаль", Говорухин Станислав
            </div>
            <div class="singleCustomer">
                Британская кинокомпания "Picture palace", Malcolm Craddock
            </div>
            <div class="singleCustomer">
                ФГОУ Всероссийский центр "Орленок", г.&nbsp;Туапсе
            </div>
            <div class="singleCustomer">
                ФГОУ ВПО "Волжская государственная академия водного транспорта"
            </div>
        </div>
    </div>
</div>
<div id="goto-predist" class="about">
    <div class="annotation">
        <div class="annotationText">
            <p>
                Крупнейший наш проект - строительство корабля-музея
                "Гото-Предистинация"
                <span id="goto-predist" class="longText">
                    для воронежской области.
                </span><br />
                <span id="goto-predist" class="longText">
                    Подробно историю создания этого судна
                </span>
                <span id="goto-predist" class="shortText">
                    Подробнее...
                </span>
                <span id="goto-predist" class="longTextSecond"> можно увидеть тут.</span>
            </p>
        </div>
    </div>
</div>
<div id="contacts" class="about">
    <div class="contactsText">
        <p>
            Мы находимся в Карелии,<span id="contacts" class="longText">
                приехать к нам и посмотреть на наше производство можно
            </span> по адресу: г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43<span id="contacts" class="longTextSecond">
                , заезд с переулка спасателей.
            </span>
            <br />Связаться с нами можно по:
        </p>
        <p style="margin-top:2vh">
            электронной почте&nbsp;- varyag@onego.ru<br />
            или по телефону&nbsp;- 8&nbsp;814&nbsp;273&nbsp;35&nbsp;80
        </p>
    </div>
    <div id="ourLocation"></div>
</div>
