
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div id="second" class="MyContainer">
    <div style="display:flex;flex-direction:column;margin:10px 10px 0 10px;background:white;border-radius:10px;">
        <div style="height:55vh;">
            <div style="position:relative;background-image:url(/images/о_нас/производство/производство.JPG);background-position:0% 58%;background-image:url(/images/о_нас/гото/1_Гото_Предестинация.jpg);background-position: 0% 87%;background-size:115%;max-height:730px;height:100%;border-radius:10px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;">
                <div style="display:flex;flex-direction:column;width:216px;position:absolute;top:10px;right:10px">
                    <div style="font-size:1.3rem;font-weight:bold;text-align:center;margin-right:8px;">
                        Все проекты в каталоге спроектированы и построены нашей верфью
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;margin:-1px 10px 0 10px;">
        <div style="display:flex;flex-direction:column;justify-content:center;background-color:#183f61;position:relative;border-bottom-left-radius:10px;border-bottom-right-radius:10px;width:100%;height:203px;">
            <div style="font-size:2rem;text-align:center;color:white;font-weight:bold;position:absolute;width:16%;">
                Наша продукция
            </div>
            <div style="display:flex;flex-direction:column;width:83.4%;position:absolute;right:-1px;top:0px;">
                <div style="display:flex;">
                    <div class="catalogIconsMainPaige2" style="border-bottom-left-radius:10px;">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Лодки
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/лодка-безфона.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Шлюпки
                        </div>
                        <div style="width:70%;">
                            <img src="/images/icons/Цветные/одинаковые/шлюпка-безфона.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Катера
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/катер-безфона.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Ладьи
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/ладья-безфона-1200.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Парусники
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/парусник-безфона.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;margin:9px 10px 0 10px;flex-direction:column;">
        <div style="display:flex;flex-direction:column;justify-content:center;background-color:#183f61;position:relative;width:100%;height:203px;">
            <div style="font-size:2rem;text-align:center;color:white;font-weight:bold;position:absolute;width:16%;">
                Наша продукция
            </div>
            <div style="display:flex;flex-direction:column;width:83.4%;position:absolute;right:-1px;top:0px;">
                <div style="display:flex;">
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Лодки
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/лодка-безфона.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Шлюпки
                        </div>
                        <div style="width:70%;">
                            <img src="/images/icons/Цветные/одинаковые/шлюпка-безфона.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Катера
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/катер-безфона.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Ладьи
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/ладья-безфона-1200.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Парусники
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/парусник-безфона.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;height:2px;background-color:white;"></div>
        <div style="width:100%;height:2px;background-color:#183f61;"></div>
        <div style="width:100%;height:2px;background-color:white;"></div>
        <div style="width:100%;height:2px;background-color:#183f61;"></div>
    </div>
    <div style="display:flex;margin:9px 10px 0 10px;flex-direction:column;">
        <div style="display:flex;flex-direction:column;justify-content:center;background-color:#183f61;position:relative;width:100%;height:203px;">
            <div style="font-size:2rem;text-align:center;color:white;font-weight:bold;position:absolute;width:16.6%;">
                Наша продукция
            </div>
            <div style="display:flex;flex-direction:column;width:83.4%;position:absolute;right:-1px;top:0px;">
                <div style="display:flex;">
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Лодки
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/лодка-безфона.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Шлюпки
                        </div>
                        <div style="width:70%;">
                            <img src="/images/icons/Цветные/одинаковые/шлюпка-безфона.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Катера
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/катер-безфона.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Ладьи
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/ладья-безфона-1200.png" />
                        </div>
                    </div>
                    <div class="catalogIconsMainPaige2">
                        <div style="font-size:2rem;text-align:center;font-family:'Gabriela';font-weight:bold;">
                            Парусники
                        </div>
                        <div style="width:85%;">
                            <img src="/images/icons/Цветные/одинаковые/парусник-безфона.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex;">
            <div style="width:16.7%;background-color:#183f61;border-bottom-left-radius:10px;"></div>
            <div style="width:83.3%">
                <div style="width:100%;height:2px;background-color:white;"></div>
                <div style="width:100%;height:2px;background-color:#183f61;"></div>
                <div style="width:100%;height:2px;background-color:white;"></div>
                <div style="width:100%;height:2px;background-color:#183f61;"></div>
            </div>
        </div>
    </div>
    <div style="display:flex;width:100%;">
        <div id="leftLittleBlock" class="littleBlock"><div class="borderAbout"></div><div>Современные деревянные корабли - это <span style="color:#e81010">надежность</span>, <span style="color:#e81010">комфорт</span> и <span style="color:#e81010">долговечность</span></div><div class="borderAbout"></div></div>
        <div class="littleBlock"><div class="borderAbout"></div><div>За <span style="color:#e81010">30 лет</span> построено <span style="color:#e81010">более 450 судов</span>, из них <span style="color:#e81010">более 60 - крупные</span></div><div class="borderAbout"></div></div>
        <div id="rightLittleBlock" class="littleBlock"><div class="borderAbout"></div><div>Наши специалисты спроектируют <span style="color:#e81010">судно под ваши требования</span></div><div class="borderAbout"></div></div>
    </div>
    <div style="display:flex;flex-direction:column;background-color:white;border-radius:10px;overflow:hidden;max-width:1350px;margin:0 10px 0 10px;">
        <div class="borderAbout" style="margin:10px 30px 10px 30px;"></div>
        <div style="font-size:1.5rem;font-weight:bold;font-family:'Gabriela';">
            Среди наших заказчиков крупные НКО, национальные парки, администрации городов и регионов, а также другие государственные структуры и клубы юных моряков
        </div>
        <div class="borderAbout" style="margin:10px 30px 10px 30px;"></div>

        <div id="viewPort" style="position:relative;width:100%;">
            <div id="left" class="control" style="left:0px;height:100%;margin:0;">
                <img src="/images/left-arrow-button.png" />
            </div>
            <div id="right" class="control" style="right:0px;height:100%;margin:0;">
                <img src="/images/right-arrow-button.png" />
            </div>
            <div class="allCustomers" style="grid-template-columns:repeat(10, 16.6%);grid-auto-flow:unset;grid-template-rows:unset;">
                <div style="margin:0 10% 0 10%"><img src="/images/logo-artek.png" /></div>
                <div style="margin:0 10% 0 10%"><img src="/images/logo-fss.png" /></div>
                <div style="margin:0 10% 0 10%"><img src="/images/logo-artek.png" /></div>
                <div style="margin:0 10% 0 10%"><img src="/images/logo-fss.png" /></div>
                <div style="margin:0 10% 0 10%"><img src="/images/logo-artek.png" /></div>
                <div style="margin:0 10% 0 10%"><img src="/images/logo-fss.png" /></div>
                <div style="margin:0 10% 0 10%"><img src="/images/logo-artek.png" /></div>
                <div style="margin:0 10% 0 10%"><img src="/images/logo-fss.png" /></div>
            </div>
        </div>
    </div>
    <div class="previewsBlock">
        @await Component.InvokeAsync("News")
        @await Component.InvokeAsync("News")
        @*@await Component.InvokeAsync("Articles")*@
    </div>
    <div id="ourContacts"></div>
    <div style="display: flex;text-align:center;align-items:center;background-color:white;border-radius:10px;margin:10px;">
        <div class="contactsText" style="font-size:2rem">
            <p>
                Мы находимся в Карелии,<span id="contacts" class="longText">
                    приехать к нам и посмотреть наше производство можно
                </span> по адресу: г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43<span id="contacts" class="longTextSecond">
                    , заезд с переулка Спасателей.
                </span>
                <br />Связаться с нами можно по:
            </p>
            <p style="margin-top:2vh">
                электронной почте&nbsp;- varyag@onego.ru<br />
                или по телефону&nbsp;- 8&nbsp;814&nbsp;273&nbsp;35&nbsp;80
            </p>
        </div>
        <div id="ourLocation"></div>
    </div>
</div>








@*<div id="thrird" class="MyContainer" style="display:none;">
    <div style="display:flex;">
        <div style="display:flex;flex-direction:column;margin-top:10px;">
            <div style="color:white;background-color:#183f61;border-radius:10px;padding:25px;margin-left:10px;font-size:2.5rem;font-weight:bold;">КАТАЛОГ</div>
            <div class="leftMenu" style="justify-content:flex-start;margin-top:10px;">
                <ul class="leftNavMenu">
                    <li>
                        <div class="leftNavLine"><a asp-action="Boats" class="navLineHeader">Лодки</a><div id="lodkiOpen" class="leftNavOpen">+</div><div id="lodkiClose" class="leftNavClose">-</div></div>
                        <ul id="lodki-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                <a asp-action="BoatsTraditional">Народные лодки</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="BoatsSail">Прогулочные парусные лодки</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="BoatsRow">Прогулочные гребные лодки</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="shlupkiNav" class="leftNavLine"><a asp-action="Bigboats" class="navLineHeader">Шлюпки</a><div id="shlupkiOpen" class="leftNavOpen">+</div><div id="shlupkiClose" class="leftNavClose">-</div></div>
                        <ul id="shlupki-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                <a asp-action="BoatsYal">Шлюпки ЯЛ2, ЯЛ4, ЯЛ6</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="Botiks">Ботики</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="KaterRows">Гребные катера и вельботы</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="MaketsStudy">Учебные пособия</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="kateraNav" class="leftNavLine"><a asp-action="Motorboats" class="navLineHeader">Катера</a><div id="kateraOpen" class="leftNavOpen">+</div><div id="kateraClose" class="leftNavClose">-</div></div>
                        <ul id="katera-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                <a asp-action="KatersFishing">Рабочие/Рыболовные катера</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="KatersPassanger">Пассажирские катера</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="KaterKabins">Каютные катера</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="Motosailers">Мотосейлеры</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="ladiyNav" class="leftNavLine"><a asp-action="Ladiy" class="navLineHeader">Ладьи</a><div id="ladiyOpen" class="leftNavOpen">+</div><div id="ladiyClose" class="leftNavClose">-</div></div>
                        <ul id="ladiy-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                <a asp-action="LadyasSailMotor">Парусно-моторные ладьи</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="LadyasSailRow">Парусно-гребные ладьи</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="sailboatsNav" class="leftNavLine"><a asp-action="Sailboats" class="navLineHeader">Парусники</a><div id="sailboatsOpen" class="leftNavOpen">+</div><div id="sailboatsClose" class="leftNavClose">-</div></div>
                        <ul id="sailboats-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                <a asp-action="SailboatsHistorical">Исторические парусники</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="SailboatsStudy">Учебные парусники</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="Svertbots">Швертботы</a>
                            </li>
                            <li class="leftSubCategory">
                                <a asp-action="Yachts">Парусные яхты</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div id="modelsNav" class="leftNavLine"><a asp-action="Models" class="navLineHeader">Разное</a><div id="modelsOpen" class="leftNavOpen">+</div><div id="modelsClose" class="leftNavClose">-</div></div>
                        <ul id="models-Sub" class="leftSubNavOpen">
                            <li class="leftSubCategory">
                                Тренажеры
                            </li>
                            <li class="leftSubCategory">
                                Флагштоки
                            </li>
                            <li class="leftSubCategory">
                                Клумбы
                            </li>
                            <li class="leftSubCategory">
                                Кровати
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div style="display:flex;flex-direction:column;max-width:1010px;">
            <div style="display:flex;flex-direction:column;margin:10px 10px 0 10px;background:white;border-radius:10px;">
                <div style="height:55vh;">
                    <div style="position:relative;background-image:url(/images/о_нас/гото/1_Гото_Предестинация.jpg);background-position: 0% 87%;background-size:115%;max-height:730px;height:100%;border-radius:10px;">
                        <div style="display:flex;flex-direction:column;width:216px;position:absolute;top:10px;right:10px">
                            <div style="font-size:3rem;font-weight:bold;color:#e81010;text-decoration:underline">
                                Каталог
                            </div>
                            <div style="font-size:1rem;font-weight:bold;text-align:right;margin-right:8px;">
                                Все проекты в каталоге спроектированы и построены нашей верфью
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:flex;width:100%;">
                <div id="leftLittleBlock" class="littleBlock"><div class="borderAbout"></div><div>Современные деревянные корабли - это <span style="color:#e81010">надежность</span>, <span style="color:#e81010">комфорт</span> и <span style="color:#e81010">долговечность</span></div><div class="borderAbout"></div></div>
                <div class="littleBlock"><div class="borderAbout"></div><div>За <span style="color:#e81010">30 лет</span> построено <span style="color:#e81010">более 450 судов</span>, из них <span style="color:#e81010">более 60 - крупные</span></div><div class="borderAbout"></div></div>
                <div id="rightLittleBlock" class="littleBlock"><div class="borderAbout"></div><div>Наши специалисты спроектируют <span style="color:#e81010">судно под ваши требования</span></div><div class="borderAbout"></div></div>
            </div>
            <div style="display:flex;flex-direction:column;background-color:white;border-radius:10px;overflow:hidden;max-width:1350px;margin:0 10px 0 10px;">
                <div class="borderAbout" style="margin:10px 30px 10px 30px;"></div>
                <div style="font-size:1.5rem;font-weight:bold;font-family:'Gabriela';">
                    Среди наших заказчиков крупные НКО, национальные парки, администрации городов и регионов, а также другие государственные структуры и клубы юных моряков
                </div>
                <div class="borderAbout" style="margin:10px 30px 10px 30px;"></div>

                <div id="viewPort" style="position:relative;width:100%;">
                    <div id="left" class="control" style="left:0px;height:100%;margin:0;">
                        <img src="~/images/left-arrow-button.png" />
                    </div>
                    <div id="right" class="control" style="right:0px;height:100%;margin:0;">
                        <img src="~/images/right-arrow-button.png" />
                    </div>
                    <div class="allCustomers" style="grid-template-columns:repeat(10, 16.6%);grid-auto-flow:unset;grid-template-rows:unset;">
                        <div style="margin:0 10% 0 10%"><img src="~/images/logo-artek.png" /></div>
                        <div style="margin:0 10% 0 10%"><img src="~/images/logo-fss.png" /></div>
                        <div style="margin:0 10% 0 10%"><img src="~/images/logo-artek.png" /></div>
                        <div style="margin:0 10% 0 10%"><img src="~/images/logo-fss.png" /></div>
                        <div style="margin:0 10% 0 10%"><img src="~/images/logo-artek.png" /></div>
                        <div style="margin:0 10% 0 10%"><img src="~/images/logo-fss.png" /></div>
                        <div style="margin:0 10% 0 10%"><img src="~/images/logo-artek.png" /></div>
                        <div style="margin:0 10% 0 10%"><img src="~/images/logo-fss.png" /></div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("News")
            <div id="ourContacts"></div>
            <div style="display: flex;text-align:center;align-items:center;background-color:white;border-radius:10px;margin:10px;">
                <div class="contactsText" style="font-size:2rem">
                    <p>
                        Мы находимся в Карелии,<span id="contacts" class="longText">
                            приехать к нам и посмотреть наше производство можно
                        </span> по адресу: г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43<span id="contacts" class="longTextSecond">
                            , заезд с переулка Спасателей.
                        </span>
                        <br />Связаться с нами можно по:
                    </p>
                    <p style="margin-top:2vh">
                        электронной почте&nbsp;- varyag@onego.ru<br />
                        или по телефону&nbsp;- 8&nbsp;814&nbsp;273&nbsp;35&nbsp;80
                    </p>
                </div>
                <div id="ourLocation"></div>
            </div>
        </div>
    </div>
</div>*@








@*<div style="display:none">
    <div id="production" class="about">
        <div class="annotation">
            <div class="annotationText">
                <p>
                    За 30 лет нами было построено около 50 моторных и парусно-моторных судов и более 200 лодок и шлюпок.<br />
                    <span id="production" class="longText">Подробнее о нашем производстве можно узнать здесь</span>
                    <span id="production" class="shortText">Подробнее...</span>
                </p>
            </div>
        </div>
    </div>
    <a name="новости"></a>
    @await Component.InvokeAsync("News")
    <div id="сatalog" class="about">
        <div class="annotation">
            <div class="annotationText">
                <p>
                    Мы <span id="сatalog" class="longText">работаем с каждым заказчиком индивидуально и </span>можем предложить как постройку судна по существующим проектам, так и
                    разработать проект согласно вашим пожеланиям
                    <span id="сatalog" class="longText"><br />Посмотреть на существующие проекты можно в нашем каталоге.</span>
                    <span id="сatalog" class="shortText"><br />Наш каталог...</span>
                </p>
            </div>
        </div>
    </div>
    <div id="customers" class="about">
        <div class="headerAbout">
            <div class="borderAbout"></div>
            <div>За время существования верфи "Варяг" нашими заказчиками стали:</div>
            <div class="borderAbout"></div>
        </div>
        <div id="viewPort">
            <div id="left" class="control">
                <img src="~/images/left-arrow-button.png" />
            </div>
            <div id="right" class="control">
                <img src="~/images/right-arrow-button.png" />
            </div>
            <div class="allCustomers">
                <div id="1" class="singleCustomer">
                    РОО "Морская Молодежная Лига", ВДЦ "Артек" и "Орленок"
                </div>
                <div class="singleCustomer">
                    Комитет по физической культуре и спорту Новгородской области
                </div>
                <div class="singleCustomer">
                    Федеральное гос. учреждение "Национальный парк "Паанаярви""
                </div>
                <div class="singleCustomer">
                    Федеральное гос. учреждение "Национальный парк "Водлозерский""
                </div>
                <div class="singleCustomer">
                    Гос. музей-заповедник "Царское село", г.&nbsp;Санкт-Петербург
                </div>
                <div class="singleCustomer">
                    Новосибирская государственная академия водного транспорта
                </div>
                <div class="singleCustomer">
                    ООО Киностудия "Вертикаль", Говорухин Станислав
                </div>
                <div class="singleCustomer">
                    Британская кинокомпания "Picture palace", Malcolm Craddock
                </div>
                <div class="singleCustomer">
                    ФГОУ Всероссийский центр "Орленок", г.&nbsp;Туапсе
                </div>
                <div class="singleCustomer">
                    ФГОУ ВПО "Волжская государственная академия водного транспорта"
                </div>
                <div class="singleCustomer">
                    ФГОУ "Государственная морская академия имени адмирала С.О.&nbsp;Макарова"
                </div>
                <div class="singleCustomer">
                    ФГОУ "Новороссийская Государственная Морская Академия" им.&nbsp;Ф.Ф.&nbsp;Ушакова
                </div>
                <div class="singleCustomer">
                    Учебный центр ФСБ России, г. Анапа
                </div>
                <div class="singleCustomer">
                    ГОУ НПО "Морской профессиональный лицей №9 им. С.Н.&nbsp;Орешкова", г.&nbsp;Архангельск
                </div>
                <div class="singleCustomer">
                    ГОУ СПО Спб Морской технический колледж
                </div>
                <div class="singleCustomer">
                    Самарский речной техникум
                </div>
                <div class="singleCustomer">
                    Клубы Юный Моряков более чем 15 городов нашей страны
                </div>
                <div class="singleCustomer">
                    Московский Государственный Университет имени М.В.&nbsp;Ломоносова
                </div>
                <div class="singleCustomer">
                    МАОУ "Детская флотилия "Парус""
                </div>
                <div class="singleCustomer">
                    МРМОО "Союз православной молодежи Мордовии", г.&nbsp;Саранск
                </div>
                <div class="singleCustomer">
                    Адм. Воронежской обл., Деп. промышленности, транспорта, связи и инноваций
                </div>
                <div class="singleCustomer">
                    МГУ им.&nbsp;адм.&nbsp;Невельского, г.&nbsp;Владивосток
                </div>
                <div class="singleCustomer">
                    ПРОО "Яхт-клуб Навигатор", г.&nbsp;Владивосток
                </div>
                <div class="singleCustomer">
                    МРОПП Борисо-Глебский храм, Священик о.&nbsp;Дмитрий
                </div>
                <div class="singleCustomer">
                    ФГБОУ ВДЦ "Океан", Владивосток
                </div>
                <div class="singleCustomer">
                    Санкт-Петербургский "Морской технический колледж"
                </div>
                <div class="singleCustomer">
                    Спб Государственное учреждение культуры "Парк культуры и отдыха "Дубки""
                </div>
                <div class="singleCustomer">
                    Череповецкий музей археологии
                </div>
                <div class="singleCustomer">
                    МБУ ДО г.&nbsp;Мурманска детский морской центр "Океан"
                </div>
                <div class="singleCustomer">
                    МБОУ ДО "Детский морской центр "Североморец"", г.&nbsp;Северодвинск
                </div>
                <div class="singleCustomer">
                    Рыболовецкий колхоз "Беломор", с.&nbsp;Нюхча, РК
                </div>
                <div class="singleCustomer">
                    Адм. образования "Кингисепский муниципальный район Ленинградской области"
                </div>
                <div class="singleCustomer">
                    ЦУ "Нарвский Бизнес-Центр", Эстония
                </div>
                <div class="singleCustomer">
                    СПб гос. уч. "Центр "Адмиралтейский" по работе с подростками и молодежью"
                </div>
                <div class="singleCustomer">
                    Мэрия городского округа Тольятти
                </div>
                <div class="singleCustomer">
                    Управление образования г.&nbsp;Пензы
                </div>
                <div class="singleCustomer">
                    Упр. молодежной политики и туризма Адм. Пуровского района Ямало-Ненецкого авт. округа
                </div>
                <div class="singleCustomer">
                    Администрация муниципального образования "Выборгское городское поселение"
                </div>
                <div class="singleCustomer">
                    Товарищество Северного Мореходства, Соловки
                </div>
                <div class="singleCustomer">
                    РМОО "Молодежный морской совет", г.&nbsp;Санкт-Петербург
                </div>
                <div class="singleCustomer">
                    КШИ "Навигаторская школа", г.&nbsp;Москва
                </div>
                <div class="singleCustomer">
                    Иртышский филиал ФГОУ ВПО "НГАВТ" в г.&nbsp;Омске
                </div>
                <div class="singleCustomer">
                    Калининградский морской рыбопромышленный колледж
                </div>
                <div class="singleCustomer">
                    Свято-Благовещенский мужской монастырь, г.&nbsp;Муром
                </div>
                <div class="singleCustomer">
                    Мастерская дизайна "Фартук", г.&nbsp;Москва
                </div>
            </div>
        </div>
    </div>
    <div id="goto-predist" class="about">
        <div class="annotation">
            <div class="annotationText">
                <p>
                    Крупнейший наш проект - строительство корабля-музея
                    "Гото-Предистинация"
                    <span id="goto-predist" class="longText">
                        для Воронежской области.
                    </span><br />
                    <span id="goto-predist" class="longText">
                        Подробно историю создания этого судна
                    </span>
                    <span id="goto-predist" class="shortText">
                        Подробнее...
                    </span>
                    <span id="goto-predist" class="longTextSecond"> можно увидеть тут.</span>
                </p>
            </div>
        </div>
    </div>
    <div id="ourContacts"></div>
    <div id="contacts" class="about">
        <div class="contactsText">
            <p>
                Мы находимся в Карелии,<span id="contacts" class="longText">
                    приехать к нам и посмотреть наше производство можно
                </span> по адресу: г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43<span id="contacts" class="longTextSecond">
                    , заезд с переулка Спасателей.
                </span>
                <br />Связаться с нами можно по:
            </p>
            <p style="margin-top:2vh">
                электронной почте&nbsp;- varyag@onego.ru<br />
                или по телефону&nbsp;- 8&nbsp;814&nbsp;273&nbsp;35&nbsp;80
            </p>
        </div>
        <div id="ourLocation"></div>
    </div>
</div>*@