
@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}
<div id="second" class="MyContainer">


    <div id="blackScreen" onclick="navigationButton()" class="blackScreen"></div>
    <div class="leftMenu" id="mainPage">
        <nav>
            <ul class="leftNavMenu" style="justify-content:flex-start;padding-bottom:69px">
                <li>
                    <div class="leftNavLine"><a asp-action="CatalogNavigation" asp-controller="Catalog" class="navLineHeader">Каталог</a><div id="catalogOpen" class="leftNavOpenCurrent">+</div><div id="catalogClose" class="leftNavCloseCurrent">-</div></div>
                    <ul id="catalog-sub" class="leftSubNavOpenCurrent">
                        <li class="leftSubCategory">
                            <a asp-action="Boats" asp-controller="Catalog" class="leftNavLine">Лодки</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Bigboats" asp-controller="Catalog" class="leftNavLine">Шлюпки</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Motorboats" asp-controller="Catalog" class="leftNavLine">Катера</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Ladiy" asp-controller="Catalog" class="leftNavLine">Ладьи</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Sailboats" asp-controller="Catalog" class="leftNavLine">Парусники</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="Models" asp-controller="Catalog" class="leftNavLine">Разное</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div id="aboutUsNav" class="leftNavLine" style="margin-top:138px"><a asp-action="AllNews" class="navLineHeader">О нас</a><div id="aboutUsOpen" class="leftNavOpenCurrent">+</div><div id="aboutUsClose" class="leftNavCloseCurrent">-</div></div>
                    <ul id="aboutUs-sub" class="leftSubNavOpenCurrent">
                        <li class="leftSubCategory">
                            <a asp-action="AllArticles" asp-controller="About" id="lifeNav" class="leftNavLine">Статьи</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="AllNews" asp-controller="About" id="smiNav" class="leftNavLine">Наши новости</a>
                        </li>
                        <li class="leftSubCategory">
                            <a asp-action="AllNews" asp-controller="About" asp-route-newsType="byType" id="newShipsNav" class="leftNavLine">Архив</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="ourContacts">
            <div>НАШИ КОНТАКТЫ</div>
            <div class="contactsLeft">
                <div class="contactsUnit"><img src="~/images/icons/phone.png" class="contactsIcon" alt="cont" />&nbsp;+7 (814) 273-35-80</div>
                <a style="cursor:pointer" href="http://www.varyag-onego.ru" target="_blank" class="contactsUnit"><img src="~/images/icons/global_114550x96.png" class="contactsIcon" />&nbsp;www.varyag-onego.ru</a>
                <div class="contactsUnit"><img src="~/images/icons/email.png" alt="mail" class="contactsIcon" />&nbsp;varyag@onego.ru</div>
            </div>
        </div>
    </div>
       
    <div style="display:flex;flex-direction:column;margin:10px 10px 0 10px;background:white;border-radius:10px;position:relative;">
        <img src="~/images/о_нас/гото/1_Гото_Предестинация-16x9.jpg" class="mainFoto" id="middle" />
        <img src="~/images/о_нас/гото/1_Гото_Предестинация-16x9-мал.jpg" class="mainFoto" id="small" loading="lazy" />
        <div class="mainPageFotoText">
            <div style="text-align:center;margin-right:8px;">
                Цитата Стивенсона по заказу Пал Михалыча
            </div>
        </div>
    </div>

    <div style="display:flex;flex-direction:column;">
        <div class="mainPageCatalogNav">
            <div class="catalogIconsMainPaigeHeader">
                <div style="width:100%;">
                    Наша продукция
                </div>
            </div>
            <div class="catalogIconsMainPaigeLine">
                <div class="catalogIconsMainPaige2">
                    <div class="catalogIconHeader">
                        Лодки
                    </div>
                    <div class="catalogIconMain">
                        <img src="/images/icons/Цветные/одинаковые/лодка-безфона.png"/>
                    </div>
                </div>
                <div class="catalogIconsMainPaige2">
                    <div class="catalogIconHeader">
                        Шлюпки
                    </div>
                    <div id="Yal" class="catalogIconMain">
                        <img src="/images/icons/Цветные/одинаковые/шлюпка-безфона.png" />
                    </div>
                </div>
                <div class="catalogIconsMainPaige2">
                    <div class="catalogIconHeader">
                        Катера
                    </div>
                    <div class="catalogIconMain">
                        <img src="/images/icons/Цветные/одинаковые/катер-безфона.png" />
                    </div>
                </div>
                <div class="catalogIconsMainPaige2">
                    <div class="catalogIconHeader">
                        Ладьи
                    </div>
                    <div class="catalogIconMain">
                        <img src="/images/icons/Цветные/одинаковые/ладья-безфона-1200.png" />
                    </div>
                </div>
                <div class="catalogIconsMainPaige2">
                    <div class="catalogIconHeader">
                        Парусники
                    </div>
                    <div class="catalogIconMain">
                        <img src="/images/icons/Цветные/одинаковые/парусник-безфона.png" />
                    </div>
                </div>
                <div class="catalogIconsMainPaige2Different">
                    <div class="catalogIconHeader">
                        Разное
                    </div>
                    <div class="catalogIconMain">
                        <img src="/images/icons/Цветные/одинаковые/лодка-безфона.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="mainPageCatalogNavZebra">
            <div style="width:100%">
                <div style="width:100%;height:2px;background-color:#183f61;"></div>
                <div style="width:100%;height:2px;background-color:white;"></div>
                <div style="width:100%;height:2px;background-color:#183f61;"></div>
                <div style="width:100%;height:2px;background-color:white;"></div>
                <div style="width:100%;height:2px;background-color:#183f61;"></div>
            </div>
        </div>
    </div>



    <div id="mainPage" class="catalogShorted">
        <div class="catalogIconsMainPaigeHeader">
            <div style="width:100%;">
                Наша продукция
            </div>
        </div>
        <div class="catalogPlates">
            <div class="catalogPlitka" id="lodki">
                <div class="catalogPlitkaCategorys">
                    <a href="../../Каталог/Лодки" class="plitkaCategoryHeader">Лодки</a>
                    <a href="../../Каталог/Лодки/Народные-лодки" class="plitkaCategory">Народные лодки</a>
                    <a href="../../Каталог/Лодки/Прогулочные-парусные-лодки" class="plitkaCategory">Прогулочные парусные лодки</a>
                    <a id="last" href="../../Каталог/Лодки/Прогулочные-гребные-лодки" class="plitkaCategory">Прогулочные гребные лодки</a>
                </div>
            </div>
            <div id="center" class="catalogPlitka">
                <div class="catalogPlitkaCategorys">
                    <a href="../../Каталог/Катера" class="plitkaCategoryHeader">Катера</a>
                    <a href="../../Каталог/Катера/Пассажирские-катера" class="plitkaCategory">Пассажирские катера</a>
                    <a href="../../Каталог/Катера/Рабочие-и-рыболовные-катера" class="plitkaCategory">Рабочие/Рыболовные катера</a>
                    <a href="../../Каталог/Катера/Каютные-катера" class="plitkaCategory">Каютные катера</a>
                    <a id="last" href="../../Каталог/Катера/Мотосейлеры" class="plitkaCategory">Мотосейлеры</a>
                </div>
            </div>
            <div class="catalogPlitka">
                <div class="catalogPlitkaCategorys">
                    <a href="../../Каталог/Парусники" class="plitkaCategoryHeader">Парусники</a>
                    <a href="../../Каталог/Парусники/Исторические-парусники" class="plitkaCategory">Исторические парусники</a>
                    <a href="../../Каталог/Парусники/Учебные-парусники" class="plitkaCategory">Учебные парусники</a>
                    <a href="../../Каталог/Парусники/Швертботы" class="plitkaCategory">Швертботы</a>
                    <a id="last" href="../../Каталог/Парусники/Парусные-яхты" class="plitkaCategory">Парусные яхты</a>
                </div>
            </div>
            <div class="catalogPlitka" id="shlupki">
                <div class="catalogPlitkaCategorys">
                    <a href="../../Каталог/Шлюпки" class="plitkaCategoryHeader">Шлюпки</a>
                    <a href="../../Каталог/Шлюпки/Шлюпки-ЯЛ2,ЯЛ4,ЯЛ6" class="plitkaCategory">Шлюпки ЯЛ2, ЯЛ4, ЯЛ6</a>
                    <a href="../../Каталог/Шлюпки/Ботики" class="plitkaCategory">Ботики</a>
                    <a href="../../Каталог/Шлюпки/Гребные-катера-и-вельботы" class="plitkaCategory">Гребные катера и вельботы</a>
                    <a id="last" href="../../Каталог/Шлюпки/Учебные-пособия" class="plitkaCategory">Учебные пособия</a>
                </div>
            </div>
            <div id="center" class="catalogPlitka" name="ladiy">
                <div class="catalogPlitkaCategorys">
                    <a href="../../Каталог/Ладьи" class="plitkaCategoryHeader">Ладьи</a>
                    <a href="../../Каталог/Ладьи/Парусно-моторные-ладьи" class="plitkaCategory">Парусно-моторные ладьи</a>
                    <a id="last" href="../../Каталог/Ладьи/Парусно-гребные-ладьи" class="plitkaCategory">Парусно-гребные ладьи</a>
                </div>
            </div>
            <div class="catalogPlitka">
                <div class="catalogPlitkaCategorys">
                    <a href="../../Каталог/Разное" class="plitkaCategoryHeader">Разное</a>
                    <a class="plitkaCategory">Модели и макеты</a>
                    <a id="last" class="plitkaCategory">Прочая продукция</a>
                </div>
            </div>
        </div>
    </div>

    <div class="catalogPlates" id="mainPageSmall">
        <div class="catalogIconsMainPaigeHeader">
            <div style="width:100%;">
                Наша продукция
            </div>
        </div>
        <div class="catalogPlitka" id="single">
            <div class="catalogPlitkaCategorys">
                <a href="../../Каталог/Лодки" class="plitkaCategoryHeader">Лодки</a>
                <a href="../../Каталог/Катера" class="plitkaCategoryHeader">Катера</a>
                <a href="../../Каталог/Парусники" class="plitkaCategoryHeader">Парусники</a>
                <a href="../../Каталог/Шлюпки" class="plitkaCategoryHeader">Шлюпки</a>
                <a href="../../Каталог/Ладьи" class="plitkaCategoryHeader">Ладьи</a>
                <a href="../../Каталог/Разное" class="plitkaCategoryHeader">Разное</a>
            </div>
        </div>
    </div>

    <div class="littleBlocksLine">
        <div id="leftLittleBlock" class="littleBlock"><div class="borderAbout"></div><div>Современные деревянные корабли - это <span style="color:#e81010">надежность</span>, <span style="color:#e81010">комфорт</span> и <span style="color:#e81010">долговечность</span></div><div class="borderAbout"></div></div>
        <div class="littleBlock"><div class="borderAbout"></div><div>За <span style="color:#e81010">30 лет</span> построено <span style="color:#e81010">более 450 судов</span>, из них <span style="color:#e81010">более 60 - крупные</span></div><div class="borderAbout"></div></div>
        <div id="rightLittleBlock" class="littleBlock"><div class="borderAbout"></div><div>Наши специалисты спроектируют <span style="color:#e81010">судно под ваши требования</span></div><div class="borderAbout"></div></div>
    </div>
    <div style="display:flex;flex-direction:column;background-color:white;border-radius:10px;max-width:1350px;margin:0 10px 0 10px;">
        <div class="borderAbout" style="margin:10px 30px 10px 30px;"></div>
        <div class="customersText">
            Наши заказчики:<span style="display:none">Среди наших заказчиков крупные НКО, национальные парки, администрации городов и регионов, учебные а также другие государственные учреждения и клубы юных моряков</span>
        </div>
        <div class="customersText" id="small">
            Наши заказчики:<span style="display:none"> - национальные парки, НКО, учебные, административные и другие учреждения и клубы юных моряков</span>
        </div>
        <div class="borderAbout" style="margin:10px 30px 10px 30px;"></div>
        <div style="margin:0 10px 0 10px;">
            <div class="slideDescription">
                <div>Администрация Воронежской области, депортамент промышленности, транспорта, связи и инноваций</div>
                <div>Администрация муниципального образования Выборгское городское поселение</div>
                <div>Британская кинокомпания Picture palace</div>
                <div>Международный детский центр "Артек"</div>
                <div>Всероссийский детский центр "Орленок"</div>
                <div>Государственный музей заповедник Царское село</div>
                <div>Государственный университет морского и речного флота имени адмирала С.О. МАКАРОВА</div>
                <div><span style="display:none">Санкт-Петербургское государственное автономное профессиональное образовательное учреждение</span>СПБ ГАПОУ "Морской технический колледж имени адмирала Д.Н. Сенявина"</div>
                <div>Калининградский музей мирового океана</div>
                <div>Комитет по физической культуре и спорту Новгородской области</div>
                <div>МАОУ Детская флотилия Парус</div>
                <div>МБОУ ДО Детский морской центр "Североморец", г.Северодвинск</div>
                <div>Морской государственный университет имени адмирала Невельского, г.Владивосток</div>
                <div>Московский Государственный Университет имени М.В. Ломоносова</div>
                <div>МРМОО Союз православной молодежи Мордовии, г.Саранск</div>
                <div>Мэрия городского округа Тольятти</div>
                <div>Новосибирская государственная академия водного транспорта</div>
                <div>ПРОО Яхт клуб "Навигатор"</div>
                <div>РМОО Молодежный морской совет, г.Санкт-Петербург</div>
                <div>Рыболовецкий колхоз Беломор, с.Нюхча</div>
                <div>Самарский речной техникум, Самарский филиал Волжского государственного университета водного транспорта</div>
                <div>Санкт-Петербургское государственное бюджетное учреждение "Центр "Адмиралтейский" по работе с подростками и молодежью"</div>
                <div>Санкт-петербургское государственное бюджетное учреждение культуры "Парк культуры и отдыха "Дубки"</div>
                <div>Управление молодежной политики и туризма Администрации Пуровского района Ямало Ненецкого автономного округа</div>
                <div>Управление образования города Пензы</div>
                <div>Учебный центр ФСБ России г.Анапа</div>
                <div>Всероссийский детский центр "Океан", Владивосток</div>
                <div><span style="display:none">Федеральное государственное бюджетное образовательное учреждение высшего образования</span>ФГБОУ ВО "Волжская государственная академия водного транспорта"</div>
                <div>Федеральная служба охраны российской федерации</div>
                <div>Федеральное государственное учреждение "Национальный парк "Водлозерский"</div>
                <div>Федеральное государственное учреждение "Национальный парк "Паанаярви"</div>
                <div>Различные войсковые частьи и учебные центры министерства обороны РФ</div>
                <div>Морской профессиональный лицей №9 им. С.Н. Орешкова, г. Архангельск</div>
            </div>
            <div class="slider">
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Администрация-Воронежской обл.,Деп.-промышленности,транспорта,-связи-и-инноваций.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Администрация-муниципального-образования-Выборгское городское поселение.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Британская-кинокомпания-Picture-palace,Malcolm-Craddock.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/ВДЦ-АРТЕК.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/ВДЦ-ОРЛЕНОК.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Гос.-музей-заповедник-Царское село.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Государственный-университет-морского-и-речного-флота-имени-адмирала-С.О.-МАКАРОВА.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/ГОУ-СПО-Спб-Морской-технический-колледж.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Калининградский-музей-мирового-океана.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Комитет-по-физической-культуре-и-спорту-Новгородской-области.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/МАОУ-Детская-флотилия-Парус.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/МБОУ-ДО-Детский-морской-центр-Североморец,г.Северодвинск.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/МГУ-им.-адм.Невельского,г.Владивосток.png" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Московский-Государственный-Университет-имени-М.В.Ломоносова.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/МРМОО-Союз-православной-молодежи-Мордовии,г.Саранск.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Мэрия-городского-округа-Тольятти.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Новосибирская-государственная-академия-водного-транспорта-мал.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/ПРОО-Яхт-клуб-Навигатор.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/РМОО-Молодежный-морской-совет,г.Санкт-Петербург.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Рыболовецкий-колхоз-Беломор,с.Нюхча,РК.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Самарский-речной-техникум(Самарский-филиала-Волжского-государственного-университета-водного-транспорта).png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/СПб гос. бюд. уч.-Центр-Адмиралтейский-по-работе-с-подростками-и-молодежью.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Спб-Государственное-учреждение-культуры-Парк-культуры-и-отдыха-Дубки.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Упр.-молодежной-политики-и-туризма-Адм.-Пуровского-района-Ямало-Ненецкого-авт.-округа.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Управление-образования-г.Пензы.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Учебный-центр-ФСБ-России-г.Анапа.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/ФГБОУ-ВДЦ-Океан,Владивосток.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/ФГОУ-ВПО-Волжская-государственная-академия-водного-транспорта.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Федеральная-служба-охраны.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Федеральное-гос.-учреждение-Национальный-парк-Водлозерский.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Федеральное-гос.-учреждение-Национальный-парк-Паанаярви.png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/эмблема-ВС-РФ-1996г..png" loading="lazy" /></div>
                <div class="sliderElements"><img src="~/images/icons/Заказчики/Морской-профессиональный-лицей-№9-им.-С.Н.Орешкова,-г.Архангельск.png" loading="lazy" /></div>
            </div>
        </div>
        <div class="mapForMainPage">
            <div>География наших заказов&nbsp;&rarr;</div>
        </div>
        <div style="background-image:url(/images/Кусок-карты-для-географии-длинный.png);border-bottom-left-radius:10px;border-bottom-right-radius:10px;justify-content:flex-end;max-width:1350px;color:#183f61;padding-right:10px;padding-bottom:2px;padding-top:2px;font-family:'Gabriela';font-weight:bold;display:none;align-items:center;">
            <div>География наших заказов&nbsp;></div>
        </div>
        <div style="background-image:url(/images/Кусок-карты-для-географии-длин-масшт-обр.JPG);border-bottom-left-radius:10px;border-bottom-right-radius:10px;justify-content:flex-end;max-width:1350px;color:#183f61;padding-right:10px;padding-bottom:2px;padding-top:2px;font-family:'Gabriela';font-weight:bold;display:none;align-items:center;">
            <div>География наших заказов&nbsp;></div>
        </div>
    </div>
    <div class="previewsBlock">
        @await Component.InvokeAsync("News")
        @await Component.InvokeAsync("Articles")
    </div>
    <div id="ourContacts"></div>
    <div class="contactsBlock">
        <div class="contactsText">
            <p>
                Мы находимся в Карелии,<span id="contacts" class="longText">
                    приехать к нам и посмотреть наше производство можно
                </span> по адресу: г.&nbsp;Петрозаводск ул.&nbsp;Онежской флотилии, д.&nbsp;43<span id="contacts" class="longTextSecond">, заезд с переулка Спасателей.</span>
                <br />Связаться с нами можно по:
            </p>
            <p>
                электронной почте&nbsp;- varyag@onego.ru<br />
                или по телефону&nbsp;- 8&nbsp;814&nbsp;273&nbsp;35&nbsp;80
            </p>
        </div>
        <div id="ourLocation"></div>
    </div>
</div>