@model Varyag.Models.News

@{ 
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="MyContainer" style="font-size:1.3rem">
    <h2>@Model.Header</h2>
    <div style="margin-bottom:5vh">@Html.Raw(Model.MainStory)</div>
    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
        @await Component.InvokeAsync("Fotorama", new { newsId = Model.NewsId })
    </div>
    <div style="position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;">
        <iframe src="//vk.com/video_ext.php?oid=-137987101&id=456239038&hash=05e8bb22a82cac94&hd=2" style="position:absolute;top:0;left:0;width:100%;height:100%;" width="853" height="480" frameborder="0" allowfullscreen></iframe>
    </div>
</div>