@model Varyag.Models.News

@{ 
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="MyContainer" style="font-size:1.3rem">
    <h2>@Model.Header</h2>
    <div style="margin-bottom:5vh">@Html.Raw(Model.MainStory)</div>
    <div class="fotorama" data-nav="thumbs" data-width="100%" data-fit="contain" data-allowfullscreen="native">
        @await Component.InvokeAsync("Fotorama", new { newsId = Model.NewsId })
    </div>
</div>