@model Varyag.Models.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="newsFotoEditor">
    <div style="display:flex;width:100%;justify-content:space-between;margin-right:1vw;grid-area:editorShort">
        <div class="partNewsElement" style="
        background: url(../images/temp/short.jpg) 50% 50% no-repeat;
        background-size:cover;">
        </div>
        <div>
            <div>
                <p>Ось Х</p>
                <input type="range" id="shortFotoX" value="50" min="0" max="100" style="width:20vw" />
            </div>
            <div>
                <p>Ось Y</p>
                <input type="range" id="shortFotoY" value="50" min="0" max="100" style="width:20vw" />
            </div>
        </div>
        <div style="display:flex;flex-direction:column">
            <div style="display:flex;flex-direction:column">
                <div>Name</div>
                <input type="text" id="shortFotoName" value="Имя" />
            </div>
            <div style="display:flex;flex-direction:column">
                <div>Alt</div>
                <input type="text" id="shortFotoAlt" value="Альт" />
            </div>
            <div style="display:flex;flex-direction:column">
                <div>Масштаб, %</div>
                <input type="text" id="shortFotoScale" value="150%" />
            </div>
        </div>
    </div>
    <div style="display:flex;width:100%;justify-content:space-between;margin-right:1vw;grid-area:editorMiddle">
        <div class="partNewsElement" style="
        background: url(../images/temp/short.jpg) 50% 50% no-repeat;
        background-size:cover;">
        </div>
        <div>
            <div>
                <p>Ось Х</p>
                <input type="range" id="shortFotoX" value="50" min="0" max="100" style="width:20vw" />
            </div>
            <div>
                <p>Ось Y</p>
                <input type="range" id="shortFotoY" value="50" min="0" max="100" style="width:20vw" />
            </div>
        </div>
        <div style="display:flex;flex-direction:column">
            <div style="display:flex;flex-direction:column">
                <div>Name</div>
                <input type="text" id="shortFotoName" value="Имя" />
            </div>
            <div style="display:flex;flex-direction:column">
                <div>Alt</div>
                <input type="text" id="shortFotoAlt" value="Альт" />
            </div>
            <div style="display:flex;flex-direction:column">
                <div>Масштаб, %</div>
                <input type="text" id="shortFotoScale" value="150%" />
            </div>
        </div>
    </div>
    <div style="display:flex;width:100%;justify-content:space-between;margin-right:1vw;grid-area:editorWide">
        <div class="partNewsElement" style="
        background: url(../images/temp/short.jpg) 50% 50% no-repeat;
        background-size:cover;">
        </div>
        <div>
            <div>
                <p>Ось Х</p>
                <input type="range" id="shortFotoX" value="50" min="0" max="100" style="width:20vw" />
            </div>
            <div>
                <p>Ось Y</p>
                <input type="range" id="shortFotoY" value="50" min="0" max="100" style="width:20vw" />
            </div>
        </div>
        <div style="display:flex;flex-direction:column">
            <div style="display:flex;flex-direction:column">
                <div>Name</div>
                <input type="text" id="shortFotoName" value="Имя" />
            </div>
            <div style="display:flex;flex-direction:column">
                <div>Alt</div>
                <input type="text" id="shortFotoAlt" value="Альт" />
            </div>
            <div style="display:flex;flex-direction:column">
                <div>Масштаб, %</div>
                <input type="text" id="shortFotoScale" value="150%" />
            </div>
        </div>
    </div>




    <div style="display:flex;flex-direction:column;width:7vw;justify-content:center;grid-area:loader">
        <div>
            <img src="~/images/temp/short.jpg" />
        </div>
        <form asp-action="SaveTempFoto" asp-route-fotoType="short" id="shortFotoForm" enctype="multipart/form-data">
            <input type="file" name="newsFoto" /><br />
            <input type="text" name="shortFotoName" hidden />
            <input type="text" name="shortFotoAlt" hidden />
            <input type="text" name="shortFotoScale" hidden />
            <input type="text" name="shortFotoX" hidden />
            <input type="text" name="shortFotoY" hidden />
            <input type="text" name="middleFotoName" hidden />
            <input type="text" name="middleFotoAlt" hidden />
            <input type="text" name="middleFotoScale" hidden />
            <input type="text" name="middleFotoX" hidden />
            <input type="text" name="middleFotoY" hidden />
            <input type="text" name="wideFotoName" hidden />
            <input type="text" name="wideFotoAlt" hidden />
            <input type="text" name="wideFotoScale" hidden />
            <input type="text" name="wideFotoX" hidden />
            <input type="text" name="wideFotoY" hidden />
            <input type="button" value="Загрузить" id="shortFotoUpload" />
        </form>
    </div>





    <div class="col-md-4" hidden>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortStory" class="control-label"></label>
                <input asp-for="ShortStory" class="form-control" />
                <span asp-validation-for="ShortStory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainStory" class="control-label"></label>
                <input asp-for="MainStory" class="form-control" />
                <span asp-validation-for="MainStory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyWord" class="control-label"></label>
                <select asp-for="KeyWord" asp-items="@new  SelectList(Enum.GetValues(typeof(NewsKeyWord)))" class="form-control"></select>
                <span asp-validation-for="KeyWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortImgPath" class="control-label"></label>
                <input asp-for="ShortImgPath" class="form-control" />
                <span asp-validation-for="ShortImgPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortImgScale" class="control-label"></label>
                <input asp-for="ShortImgScale" class="form-control" />
                <span asp-validation-for="ShortImgScale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortImgX" class="control-label"></label>
                <input asp-for="ShortImgX" class="form-control" />
                <span asp-validation-for="ShortImgX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortImgY" class="control-label"></label>
                <input asp-for="ShortImgY" class="form-control" />
                <span asp-validation-for="ShortImgY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleImgPath" class="control-label"></label>
                <input asp-for="MiddleImgPath" class="form-control" />
                <span asp-validation-for="MiddleImgPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleImgScale" class="control-label"></label>
                <input asp-for="MiddleImgScale" class="form-control" />
                <span asp-validation-for="MiddleImgScale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleImgX" class="control-label"></label>
                <input asp-for="MiddleImgX" class="form-control" />
                <span asp-validation-for="MiddleImgX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleImgY" class="control-label"></label>
                <input asp-for="MiddleImgY" class="form-control" />
                <span asp-validation-for="MiddleImgY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WideImgPath" class="control-label"></label>
                <input asp-for="WideImgPath" class="form-control" />
                <span asp-validation-for="WideImgPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WideImgScale" class="control-label"></label>
                <input asp-for="WideImgScale" class="form-control" />
                <span asp-validation-for="WideImgScale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WideImgX" class="control-label"></label>
                <input asp-for="WideImgX" class="form-control" />
                <span asp-validation-for="WideImgX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WideImgY" class="control-label"></label>
                <input asp-for="WideImgY" class="form-control" />
                <span asp-validation-for="WideImgY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

