@model Varyag.Models.News

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NewsId" />
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortStory" class="control-label"></label>
                <input asp-for="ShortStory" class="form-control" />
                <span asp-validation-for="ShortStory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainStory" class="control-label"></label>
                <input asp-for="MainStory" class="form-control" />
                <span asp-validation-for="MainStory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyWord" class="control-label"></label>
                <select asp-for="KeyWord" class="form-control"></select>
                <span asp-validation-for="KeyWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortImgPath" class="control-label"></label>
                <input asp-for="ShortImgPath" class="form-control" />
                <span asp-validation-for="ShortImgPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortImgScale" class="control-label"></label>
                <input asp-for="ShortImgScale" class="form-control" />
                <span asp-validation-for="ShortImgScale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortImgX" class="control-label"></label>
                <input asp-for="ShortImgX" class="form-control" />
                <span asp-validation-for="ShortImgX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortImgY" class="control-label"></label>
                <input asp-for="ShortImgY" class="form-control" />
                <span asp-validation-for="ShortImgY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleImgPath" class="control-label"></label>
                <input asp-for="MiddleImgPath" class="form-control" />
                <span asp-validation-for="MiddleImgPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleImgScale" class="control-label"></label>
                <input asp-for="MiddleImgScale" class="form-control" />
                <span asp-validation-for="MiddleImgScale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleImgX" class="control-label"></label>
                <input asp-for="MiddleImgX" class="form-control" />
                <span asp-validation-for="MiddleImgX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleImgY" class="control-label"></label>
                <input asp-for="MiddleImgY" class="form-control" />
                <span asp-validation-for="MiddleImgY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WideImgPath" class="control-label"></label>
                <input asp-for="WideImgPath" class="form-control" />
                <span asp-validation-for="WideImgPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WideImgScale" class="control-label"></label>
                <input asp-for="WideImgScale" class="form-control" />
                <span asp-validation-for="WideImgScale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WideImgX" class="control-label"></label>
                <input asp-for="WideImgX" class="form-control" />
                <span asp-validation-for="WideImgX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WideImgY" class="control-label"></label>
                <input asp-for="WideImgY" class="form-control" />
                <span asp-validation-for="WideImgY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

